In [1]:
import pandas as pd
from tqdm import tqdm_notebook as tqdm
import os
import numpy as np

os.chdir('../..')

from src.utils import *

In [2]:
speeds_df = pd.read_csv(resources_path('dataset', 'originals', 'speeds_train.csv.gz'))
events_df = pd.read_csv(resources_path('dataset', 'originals', 'events_train.csv.gz'))
sensors_df = pd.read_csv(resources_path('dataset', 'originals', 'sensors.csv.gz'))

In [3]:
start_km = np.minimum(events_df['KM_START'].values, events_df['KM_END'].values)
end_km = np.maximum(events_df['KM_START'].values, events_df['KM_END'].values)
events_df['KM_START'] = start_km
events_df['KM_END'] = end_km

In [4]:
events_df.head(5)

,START_DATETIME_UTC,END_DATETIME_UTC,EVENT_DETAIL,EVENT_TYPE,KM_END,KM_START,KEY,KEY_2
0,2018-07-19 07:34:46,2018-08-01 15:23:17,0.0,Gestione_viabilita,959,954,523.0,523_959
1,2018-07-25 12:20:06,2018-10-12 18:29:37,1.0,Pavimentazione,1821,1814,325.0,325_1814
2,2018-08-01 07:44:00,2018-08-01 16:18:58,2.0,Manutenzione_opere_in_verde,321,282,525.0,525_321
3,2018-08-01 08:14:30,2018-08-01 17:39:13,3.0,Opera_arte,713,712,517.0,517_713
4,2018-08-01 08:18:32,2018-08-01 17:38:27,3.0,Opera_arte,2543,2542,518.0,518_2542

In [5]:
sensors_df.head(5)

     KEY  EMERGENCY_LANE    KM  LANES  ROAD_TYPE
0   44.0               0  1410      2          0
1  146.0               0  1473      2          0
2   53.0               0  1421      2          0
3  122.0               0   679      2          0
4   17.0               1  1399      3          1

In [6]:
df = events_df
print(f'Events: {len(events_df)}')
df = pd.merge(df, sensors_df, how='outer')
print(f'Merged: {len(df)}')

Events: 38008
Merged: 430588

In [7]:
df.sort_values([KEY, EVENT_TYPE]).groupby([KEY, EVENT_TYPE]).count().head(20)

                                 START_DATETIME_UTC  END_DATETIME_UTC  \
KEY EVENT_TYPE
0.0 Allarme                                     615               615
    Barriere                                     75                75
    Calamita_naturale                           120               120
    Gestione_viabilita                          255               255
    Manutenzione_opere_in_verde                1260              1260
    Meteo                                       210               210
    Opera_arte                                  270               270
    Ostacolo_in_carreggiata                    1455              1455
    Pavimentazione                              555               555
    Regimazione_delle_acque                      90                90
    Segnaletica_orizzontale                     375               375
    Segnaletica_verticale                        75                75
    Veicolo_in_avaria                          1755              1755
    extended_accident                           525               525
1.0 Allarme                                     465               465
    Barriere                                    150               150
    Calamita_naturale                           105               105
    Gestione_viabilita                          450               450
    Manutenzione_opere_in_verde                1725              1725
    Meteo                                       210               210

                                 EVENT_DETAIL  KM_END  KM_START  KEY_2  \
KEY EVENT_TYPE
0.0 Allarme                               615     615       615    615
    Barriere                               75      75        75     75
    Calamita_naturale                     120     120       120    120
    Gestione_viabilita                    255     255       255    255
    Manutenzione_opere_in_verde          1260    1260      1260   1260
    Meteo                                 210     210       210    210
    Opera_arte                            270     270       270    270
    Ostacolo_in_carreggiata              1455    1455      1455   1455
    Pavimentazione                        555     555       555    555
    Regimazione_delle_acque                90      90        90     90
    Segnaletica_orizzontale               375     375       375    375
    Segnaletica_verticale                  75      75        75     75
    Veicolo_in_avaria                    1755    1755      1755   1755
    extended_accident                     525     525       525    525
1.0 Allarme                               465     465       465    465
    Barriere                              150     150       150    150
    Calamita_naturale                     105     105       105    105
    Gestione_viabilita                    450     450       450    450
    Manutenzione_opere_in_verde          1725    1725      1725   1725
    Meteo                                 210     210       210    210

                                 EMERGENCY_LANE    KM  LANES  ROAD_TYPE
KEY EVENT_TYPE
0.0 Allarme                                 615   615    615        615
    Barriere                                 75    75     75         75
    Calamita_naturale                       120   120    120        120
    Gestione_viabilita                      255   255    255        255
    Manutenzione_opere_in_verde            1260  1260   1260       1260
    Meteo                                   210   210    210        210
    Opera_arte                              270   270    270        270
    Ostacolo_in_carreggiata                1455  1455   1455       1455
    Pavimentazione                          555   555    555        555
    Regimazione_delle_acque                  90    90     90         90
    Segnaletica_orizzontale                 375   375    375        375
    Segnaletica_verticale                    75    75     75         75
    Veicolo_in_avaria                      1755  1755   1755       1755
    extended_accident                       525   525    525        525
1.0 Allarme                                 465   465    465        465
    Barriere                                150   150    150        150
    Calamita_naturale                       105   105    105        105
    Gestione_viabilita                      450   450    450        450
    Manutenzione_opere_in_verde            1725  1725   1725       1725
    Meteo                                   210   210    210        210

In [8]:
df['DISTANCE'] = df.KM - (df.KM_START + (df.KM_END - df.KM_START)/2)
reduced_df = df[[KEY, KM, EVENT_TYPE, EVENT_DETAIL, START_DATETIME, END_DATETIME, KM_END, KM_START, ROAD_TYPE, LANES, DISTANCE]]
reduced_df.sort_values([KEY, KM_START, EVENT_TYPE, START_DATETIME]).head(20)

,KEY,KM,EVENT_TYPE,EVENT_DETAIL,START_DATETIME_UTC,END_DATETIME_UTC,KM_END,KM_START,ROAD_TYPE,LANES,DISTANCE
324140,0.0,454,Gestione_viabilita,60.0,2018-08-12 11:34:57,2018-08-12 13:26:01,370.0,331.0,1,2,103.5
324141,0.0,423,Gestione_viabilita,60.0,2018-08-12 11:34:57,2018-08-12 13:26:01,370.0,331.0,1,2,72.5
324142,0.0,357,Gestione_viabilita,60.0,2018-08-12 11:34:57,2018-08-12 13:26:01,370.0,331.0,1,2,6.5
324143,0.0,443,Gestione_viabilita,60.0,2018-08-12 11:34:57,2018-08-12 13:26:01,370.0,331.0,1,2,92.5
324144,0.0,342,Gestione_viabilita,60.0,2018-08-12 11:34:57,2018-08-12 13:26:01,370.0,331.0,1,2,-8.5
324145,0.0,520,Gestione_viabilita,60.0,2018-08-12 11:34:57,2018-08-12 13:26:01,370.0,331.0,1,2,169.5
324146,0.0,403,Gestione_viabilita,60.0,2018-08-12 11:34:57,2018-08-12 13:26:01,370.0,331.0,1,2,52.5
324147,0.0,488,Gestione_viabilita,60.0,2018-08-12 11:34:57,2018-08-12 13:26:01,370.0,331.0,1,2,137.5
324148,0.0,443,Gestione_viabilita,60.0,2018-08-12 11:34:57,2018-08-12 13:26:01,370.0,331.0,1,2,92.5
324149,0.0,333,Gestione_viabilita,60.0,2018-08-12 11:34:57,2018-08-12 13:26:01,370.0,331.0,1,2,-17.5
324150,0.0,385,Gestione_viabilita,60.0,2018-08-12 11:34:57,2018-08-12 13:26:01,370.0,331.0,1,2,34.5
324151,0.0,407,Gestione_viabilita,60.0,2018-08-12 11:34:57,2018-08-12 13:26:01,370.0,331.0,1,2,56.5
324152,0.0,337,Gestione_viabilita,60.0,2018-08-12 11:34:57,2018-08-12 13:26:01,370.0,331.0,1,2,-13.5
324153,0.0,343,Gestione_viabilita,60.0,2018-08-12 11:34:57,2018-08-12 13:26:01,370.0,331.0,1,2,-7.5
324154,0.0,411,Gestione_viabilita,60.0,2018-08-12 11:34:57,2018-08-12 13:26:01,370.0,331.0,1,2,60.5
319145,0.0,454,Manutenzione_opere_in_verde,2.0,2018-08-28 08:36:55,2018-08-28 16:23:59,356.0,331.0,1,2,110.5
319146,0.0,423,Manutenzione_opere_in_verde,2.0,2018-08-28 08:36:55,2018-08-28 16:23:59,356.0,331.0,1,2,79.5
319147,0.0,357,Manutenzione_opere_in_verde,2.0,2018-08-28 08:36:55,2018-08-28 16:23:59,356.0,331.0,1,2,13.5
319148,0.0,443,Manutenzione_opere_in_verde,2.0,2018-08-28 08:36:55,2018-08-28 16:23:59,356.0,331.0,1,2,99.5
319149,0.0,342,Manutenzione_opere_in_verde,2.0,2018-08-28 08:36:55,2018-08-28 16:23:59,356.0,331.0,1,2,-1.5

In [9]:
reduced_df.shape
#reduced_df.to_csv(resources_path('dataset', 'preprocessed', 'events_sensors.csv.gz'))

(430588, 11)

In [10]:
min_distances_df = reduced_df[[KEY, KM, EVENT_TYPE, EVENT_DETAIL, START_DATETIME, END_DATETIME, KM_END, KM_START, ROAD_TYPE, LANES, DISTANCE]]
threshold = 2

# TODO: mettere una threshold in km e prendere gli elementi sotto tale threshold
min_distances_df = min_distances_df[np.abs(min_distances_df.DISTANCE) <= threshold]
min_distances_df = min_distances_df.drop_duplicates(subset=[EVENT_TYPE, EVENT_DETAIL, KM, KEY])
print(min_distances_df.shape)
min_distances_df.sort_values([KEY, EVENT_DETAIL, KM]).head(10)
# min_distances_df.to_csv(resources_path('dataset', 'preprocessed', 'min_distance_event.csv.gz'))

(3960, 11)

,KEY,KM,EVENT_TYPE,EVENT_DETAIL,START_DATETIME_UTC,END_DATETIME_UTC,KM_END,KM_START,ROAD_TYPE,LANES,DISTANCE
319920,0.0,385,Pavimentazione,1.0,2018-09-11 09:08:24,2018-09-11 11:47:53,388.0,386.0,1,2,-2.0
317531,0.0,403,Pavimentazione,1.0,2018-07-30 13:49:47,2018-08-03 13:17:29,403.0,401.0,1,2,1.0
324203,0.0,443,Pavimentazione,1.0,2018-08-23 11:15:41,2018-08-23 12:04:40,445.0,437.0,1,2,2.0
321267,0.0,488,Pavimentazione,1.0,2018-10-06 09:38:46,2018-10-06 16:11:52,488.0,488.0,1,2,0.0
318104,0.0,333,Manutenzione_opere_in_verde,2.0,2018-08-08 06:23:33,2018-08-08 16:23:38,337.0,333.0,1,2,-2.0
318107,0.0,337,Manutenzione_opere_in_verde,2.0,2018-08-08 06:23:33,2018-08-08 16:23:38,337.0,333.0,1,2,2.0
317544,0.0,342,Manutenzione_opere_in_verde,2.0,2018-08-01 05:56:25,2018-08-01 12:23:42,345.0,343.0,1,2,-2.0
317553,0.0,343,Manutenzione_opere_in_verde,2.0,2018-08-01 05:56:25,2018-08-01 12:23:42,345.0,343.0,1,2,-1.0
321607,0.0,357,Manutenzione_opere_in_verde,2.0,2018-10-12 07:50:49,2018-10-12 18:54:50,359.0,358.0,1,2,-1.5
319410,0.0,385,Manutenzione_opere_in_verde,2.0,2018-09-03 07:56:15,2018-09-03 19:05:49,385.0,383.0,1,2,1.0

In [11]:
speeds_df.head(10)

,KEY,DATETIME_UTC,KM,SPEED_AVG,SPEED_SD,SPEED_MIN,SPEED_MAX,N_VEHICLES,KEY_2
0,0,2018-09-01 01:00:00,443,97.889000,1.144099,97.080,98.698,2,0_443
1,0,2018-09-01 03:15:00,443,154.788667,16.287509,137.530,169.890,3,0_443
2,0,2018-09-01 12:45:00,443,136.091778,10.759666,124.586,163.418,18,0_443
3,0,2018-09-01 19:15:00,443,136.916276,15.089653,114.878,169.890,58,0_443
4,0,2018-09-02 09:45:00,443,135.476385,23.125778,82.518,169.890,26,0_443
5,0,2018-09-02 21:45:00,443,137.359684,13.546769,106.788,158.564,19,0_443
6,0,2018-09-02 23:00:00,443,131.192833,14.062447,114.878,165.036,12,0_443
7,0,2018-09-03 00:45:00,443,143.308571,8.399957,135.912,160.182,7,0_443
8,0,2018-09-03 03:30:00,443,157.755000,11.402787,142.384,169.890,4,0_443
9,0,2018-09-03 18:00:00,443,146.950935,15.165525,74.428,182.834,62,0_443

In [12]:
dist_df = min_distances_df.merge(speeds_df, left_on=[KEY, KM], right_on=[KEY, KM])
dist_df = dist_df[(dist_df.START_DATETIME_UTC <= dist_df.DATETIME_UTC) &
                  (dist_df.END_DATETIME_UTC >= dist_df.DATETIME_UTC)]
dist_df = dist_df.merge(dist_df.groupby([EVENT_TYPE, EVENT_DETAIL])[[SPEED_AVG, N_CARS]].agg(['mean', 'std', 'count']),
                        left_on=[EVENT_TYPE, EVENT_DETAIL], right_on=[EVENT_TYPE, EVENT_DETAIL])
dist_df.head(10)

/opt/conda/lib/python3.7/site-packages/pandas/core/reshape/merge.py:522: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)

,KEY,KM,EVENT_TYPE,EVENT_DETAIL,START_DATETIME_UTC,END_DATETIME_UTC,KM_END,KM_START,ROAD_TYPE,LANES,...,SPEED_MIN,SPEED_MAX,N_VEHICLES,KEY_2,"(SPEED_AVG, mean)","(SPEED_AVG, std)","(SPEED_AVG, count)","(N_VEHICLES, mean)","(N_VEHICLES, std)","(N_VEHICLES, count)"
0,523.0,948,Pavimentazione,1.0,2018-09-20 19:42:52,2018-09-29 13:30:53,950.0,947.0,0,2,...,161.800,239.464,39,523_948,176.106693,30.437374,4321,93.082388,99.822577,4321
1,523.0,948,Pavimentazione,1.0,2018-09-20 19:42:52,2018-09-29 13:30:53,950.0,947.0,0,2,...,171.508,249.172,35,523_948,176.106693,30.437374,4321,93.082388,99.822577,4321
2,523.0,948,Pavimentazione,1.0,2018-09-20 19:42:52,2018-09-29 13:30:53,950.0,947.0,0,2,...,147.238,249.172,175,523_948,176.106693,30.437374,4321,93.082388,99.822577,4321
3,523.0,948,Pavimentazione,1.0,2018-09-20 19:42:52,2018-09-29 13:30:53,950.0,947.0,0,2,...,105.170,229.756,173,523_948,176.106693,30.437374,4321,93.082388,99.822577,4321
4,523.0,948,Pavimentazione,1.0,2018-09-20 19:42:52,2018-09-29 13:30:53,950.0,947.0,0,2,...,72.810,252.408,167,523_948,176.106693,30.437374,4321,93.082388,99.822577,4321
5,523.0,948,Pavimentazione,1.0,2018-09-20 19:42:52,2018-09-29 13:30:53,950.0,947.0,0,2,...,142.384,349.488,204,523_948,176.106693,30.437374,4321,93.082388,99.822577,4321
6,523.0,948,Pavimentazione,1.0,2018-09-20 19:42:52,2018-09-29 13:30:53,950.0,947.0,0,2,...,165.036,262.116,33,523_948,176.106693,30.437374,4321,93.082388,99.822577,4321
7,523.0,948,Pavimentazione,1.0,2018-09-20 19:42:52,2018-09-29 13:30:53,950.0,947.0,0,2,...,156.946,228.138,106,523_948,176.106693,30.437374,4321,93.082388,99.822577,4321
8,523.0,948,Pavimentazione,1.0,2018-09-20 19:42:52,2018-09-29 13:30:53,950.0,947.0,0,2,...,90.608,258.880,168,523_948,176.106693,30.437374,4321,93.082388,99.822577,4321
9,523.0,948,Pavimentazione,1.0,2018-09-20 19:42:52,2018-09-29 13:30:53,950.0,947.0,0,2,...,165.036,249.172,162,523_948,176.106693,30.437374,4321,93.082388,99.822577,4321

In [20]:
print(dist_df.shape)
dist_df['MEAN_SPEED_AVG'] = dist_df[('SPEED_AVG', 'mean')]
dist_df['STD_SPEED_AVG'] = dist_df[('SPEED_AVG', 'std')]
dist_df['MEAN_N_VEHICLES'] = dist_df[('N_VEHICLES', 'mean')]
dist_df['STD_N_VEHICLES'] = dist_df[('N_VEHICLES', 'std')]
dist_df['COUNT'] = dist_df[('SPEED_AVG', 'count')]
event_stats_df = dist_df.drop_duplicates(subset=[EVENT_TYPE, EVENT_DETAIL])[[EVENT_TYPE, EVENT_DETAIL, 'MEAN_SPEED_AVG', 'STD_SPEED_AVG', 'MEAN_N_VEHICLES', 'STD_N_VEHICLES', 'COUNT']]
print(event_stats_df.shape)
event_stats_df = event_stats_df.sort_values(EVENT_DETAIL).fillna(0)
event_stats_df.sort_values(['EVENT_TYPE', 'EVENT_DETAIL', 'STD_SPEED_AVG'])
event_stats_df.to_csv(resources_path('dataset', 'preprocessed', 'evets_stats.csv.gz'))

(76822, 29)
(79, 7)