In [1]:
#Extra function created to help me solve some problems
import re

def natural_sort(l): 
    convert = lambda text: int(text) if text.isdigit() else text.lower() 
    alphanum_key = lambda key: [ convert(c) for c in re.split('([0-9]+)', key) ] 
    return sorted(l, key = alphanum_key)

def get_first_nbr_from_str(input_str):
    if not input_str and not isinstance(input_str, str):
        return 0
    out_number = ''
    for ele in input_str:
        if (ele == '.' and '.' not in out_number) or ele.isdigit():
            out_number += ele
        elif out_number:
            break
    return int(out_number)

# Giorno 2

In [1]:
import os
os.chdir('./..')
import pandas as pd
import numpy as np
from tqdm.auto import tqdm
import matplotlib.pyplot as plt
_BASE_PATH = 'resources/dataset/originals'

from src import data
from src.preprocessing.distances import preprocess

In [4]:
preprocess()
distances= data.distances_proprocessed()
distances

caching distances

distances loaded in: 0.0752 s

shape of the dataframe is: (41054, 2)
caching distances

distances loaded in: 0.0675 s

shape of the dataframe is: (41046, 3)

                                                STATIONS   KEY    KM
0      STATION_29,10.0;STATION_37,19.0;STATION_36,40....   278   662
1      STATION_29,10.0;STATION_37,19.0;STATION_36,40....   278   663
2      STATION_29,10.0;STATION_37,19.0;STATION_36,40....   278   664
3      STATION_29,6.0;STATION_37,17.0;STATION_36,44.0...   278   665
4      STATION_29,6.0;STATION_37,17.0;STATION_36,44.0...   278   666
5      STATION_29,6.0;STATION_37,17.0;STATION_36,44.0...   278   667
6      STATION_29,6.0;STATION_37,17.0;STATION_36,44.0...   278   668
7      STATION_29,6.0;STATION_37,17.0;STATION_36,44.0...   278   669
8      STATION_29,6.0;STATION_37,17.0;STATION_36,44.0...   278   670
9      STATION_29,6.0;STATION_37,17.0;STATION_36,44.0...   278   671
10     STATION_29,6.0;STATION_37,17.0;STATION_36,44.0...   278   672
11     STATION_29,6.0;STATION_37,17.0;STATION_36,44.0...   278   673
12     STATION_29,6.0;STATION_37,17.0;STATION_36,44.0...   278   674
13     STATION_29,6.0;STATION_37,17.0;STATION_36,44.0...   278   675
14     STATION_29,6.0;STATION_37,17.0;STATION_36,44.0...   278   676
15     STATION_29,6.0;STATION_37,17.0;STATION_36,44.0...   278   677
16     STATION_29,6.0;STATION_37,17.0;STATION_36,44.0...   278   678
17     STATION_29,6.0;STATION_37,17.0;STATION_36,44.0...   278   679
18     STATION_29,7.0;STATION_37,17.0;STATION_28,35.0...   278   680
19     STATION_29,7.0;STATION_37,17.0;STATION_28,35.0...   278   681
20     STATION_29,7.0;STATION_37,17.0;STATION_28,35.0...   278   682
21     STATION_29,7.0;STATION_37,17.0;STATION_28,35.0...   278   683
22     STATION_29,7.0;STATION_37,17.0;STATION_28,35.0...   278   684
23     STATION_29,7.0;STATION_37,17.0;STATION_28,35.0...   278   685
24     STATION_29,8.0;STATION_37,16.0;STATION_28,34.0...   278   686
25     STATION_29,8.0;STATION_37,16.0;STATION_28,34.0...   278   687
26     STATION_29,9.0;STATION_37,16.0;STATION_28,34.0...   278   688
27     STATION_33,54.0;STATION_29,64.0;STATION_37,73....   280   593
28     STATION_33,52.0;STATION_29,64.0;STATION_37,73....   280   594
29     STATION_33,52.0;STATION_29,64.0;STATION_37,73....   280   595
...                                                  ...   ...   ...
41016  STATION_22,17.0;STATION_27,91.0;STATION_23,124...   107  1798
41017  STATION_61,22.0;STATION_78,53.0;STATION_80,55....   530  1615
41018  STATION_61,22.0;STATION_78,53.0;STATION_80,55....   530  1614
41019  STATION_61,20.0;STATION_78,53.0;STATION_65,56....   530  1613
41020  STATION_89,8.0;STATION_54,30.0;STATION_50,69.0...    40  1929
41021  STATION_89,8.0;STATION_54,30.0;STATION_50,69.0...    40  1928
41022  STATION_89,9.0;STATION_54,31.0;STATION_50,70.0...    40  1927
41023  STATION_18,52.0;STATION_21,122.0;STATION_13,13...   406  1814
41024  STATION_18,52.0;STATION_21,122.0;STATION_13,13...   406  1813
41025  STATION_18,49.0;STATION_21,119.0;STATION_13,13...   406  1812
41026  STATION_18,49.0;STATION_21,119.0;STATION_13,13...   406  1811
41027  STATION_18,49.0;STATION_21,119.0;STATION_13,13...   406  1810
41028  STATION_18,49.0;STATION_21,119.0;STATION_13,13...   406  1809
41029  STATION_18,48.0;STATION_21,118.0;STATION_13,13...   406  1808
41030  STATION_18,48.0;STATION_21,118.0;STATION_13,13...   406  1807
41031  STATION_18,48.0;STATION_21,118.0;STATION_13,13...   406  1806
41032  STATION_18,48.0;STATION_21,118.0;STATION_13,13...   406  1805
41033  STATION_18,46.0;STATION_21,116.0;STATION_13,13...   406  1804
41034  STATION_18,46.0;STATION_21,116.0;STATION_13,13...   406  1803
41035  STATION_18,46.0;STATION_21,116.0;STATION_13,13...   406  1802
41036  STATION_0,31.0;STATION_3,51.0;STATION_69,82.0;...   555  1494
41037  STATION_0,31.0;STATION_3,51.0;STATION_69,82.0;...   555  1493
41038  STATION_0,30.0;STATION_3,50.0;STATION_69,81.0;...   555  1492
41039  STATION_0,30.0;STATION_3,50.0;STATION_69,81.0;...   555  1491
41040  STATION_0,30.0;STATION_3,49.0;STATION_69,81.0;...   555  1490
41041  STATION_0,30.0;STATION_3,49.0;STATION_69,81.0;...   555  1489
41042  STATION_15,7.0;STATION_19,15.0;STATION_21,29.0...  None  1628
41043  STATION_15,7.0;STATION_19,16.0;STATION_21,30.0...  None  1627
41044  STATION_18,68.0;STATION_21,138.0;STATION_13,15...    73  1594
41045  STATION_18,68.0;STATION_21,138.0;STATION_13,15...    73  1593

[41046 rows x 3 columns]

In [5]:
bs_hours=data.base_structure_hours()
base_structure_df =bs_hours
base_structure_df.head()

caching base structure

base structure loaded in: 2.403 s

shape of the dataframe is: (5298840, 3)

  DATETIME_UTC  KEY   KM
0   2018-09-01    0  333
1   2018-09-01    0  337
2   2018-09-01    0  342
3   2018-09-01    0  343
4   2018-09-01    0  357

In [6]:
weather_train_df = data.weather_original()

#lavoro su uno slice di 1M
base_structure_df ["WEATHER"]=""
base_structure_df ["DISTANCE"]=np.NaN

#weather_train_df1=weather_train_df.set_index(["ID","DATETIME_UTC"])

caching resources/dataset/originals/weather_train.csv.gz

In [7]:
stations=weather_train_df[["ID"]].drop_duplicates()
stations["dummy"]=0

In [8]:
times=base_structure_df[["DATETIME_UTC"]].drop_duplicates()
times["dummy"]=0

In [9]:
bs_2=pd.merge(stations,times)
bs_2=bs_2.drop("dummy",axis=1)
bs_2

                ID        DATETIME_UTC
0        STATION_7 2018-09-01 00:00:00
1        STATION_7 2018-09-01 01:00:00
2        STATION_7 2018-09-01 02:00:00
3        STATION_7 2018-09-01 03:00:00
4        STATION_7 2018-09-01 04:00:00
5        STATION_7 2018-09-01 05:00:00
6        STATION_7 2018-09-01 06:00:00
7        STATION_7 2018-09-01 07:00:00
8        STATION_7 2018-09-01 08:00:00
9        STATION_7 2018-09-01 09:00:00
10       STATION_7 2018-09-01 10:00:00
11       STATION_7 2018-09-01 11:00:00
12       STATION_7 2018-09-01 12:00:00
13       STATION_7 2018-09-01 13:00:00
14       STATION_7 2018-09-01 14:00:00
15       STATION_7 2018-09-01 15:00:00
16       STATION_7 2018-09-01 16:00:00
17       STATION_7 2018-09-01 17:00:00
18       STATION_7 2018-09-01 18:00:00
19       STATION_7 2018-09-01 19:00:00
20       STATION_7 2018-09-01 20:00:00
21       STATION_7 2018-09-01 21:00:00
22       STATION_7 2018-09-01 22:00:00
23       STATION_7 2018-09-01 23:00:00
24       STATION_7 2018-09-02 00:00:00
25       STATION_7 2018-09-02 01:00:00
26       STATION_7 2018-09-02 02:00:00
27       STATION_7 2018-09-02 03:00:00
28       STATION_7 2018-09-02 04:00:00
29       STATION_7 2018-09-02 05:00:00
...            ...                 ...
265650  STATION_18 2018-12-31 18:00:00
265651  STATION_18 2018-12-31 19:00:00
265652  STATION_18 2018-12-31 20:00:00
265653  STATION_18 2018-12-31 21:00:00
265654  STATION_18 2018-12-31 22:00:00
265655  STATION_18 2018-12-31 23:00:00
265656  STATION_18 2019-01-01 00:00:00
265657  STATION_18 2019-01-01 01:00:00
265658  STATION_18 2019-01-01 02:00:00
265659  STATION_18 2019-01-01 03:00:00
265660  STATION_18 2019-01-01 04:00:00
265661  STATION_18 2019-01-01 05:00:00
265662  STATION_18 2019-01-01 06:00:00
265663  STATION_18 2019-01-01 07:00:00
265664  STATION_18 2019-01-01 08:00:00
265665  STATION_18 2019-01-01 09:00:00
265666  STATION_18 2019-01-01 10:00:00
265667  STATION_18 2019-01-01 11:00:00
265668  STATION_18 2019-01-01 12:00:00
265669  STATION_18 2019-01-01 13:00:00
265670  STATION_18 2019-01-01 14:00:00
265671  STATION_18 2019-01-01 15:00:00
265672  STATION_18 2019-01-01 16:00:00
265673  STATION_18 2019-01-01 17:00:00
265674  STATION_18 2019-01-01 18:00:00
265675  STATION_18 2019-01-01 19:00:00
265676  STATION_18 2019-01-01 20:00:00
265677  STATION_18 2019-01-01 21:00:00
265678  STATION_18 2019-01-01 22:00:00
265679  STATION_18 2019-01-01 23:00:00

[265680 rows x 2 columns]

In [10]:
weather_train_df2=pd.merge(bs_2,weather_train_df,how="left")
weather_train_df2

,ID,DATETIME_UTC,TEMPERATURE,MAX_TEMPERATURE,MIN_TEMPERATURE,WEATHER
0,STATION_7,2018-09-01 00:00:00,NaN,NaN,NaN,NaN
1,STATION_7,2018-09-01 01:00:00,NaN,NaN,NaN,NaN
2,STATION_7,2018-09-01 02:00:00,NaN,NaN,NaN,NaN
3,STATION_7,2018-09-01 03:00:00,NaN,NaN,NaN,NaN
4,STATION_7,2018-09-01 04:00:00,NaN,NaN,NaN,NaN
5,STATION_7,2018-09-01 05:00:00,NaN,NaN,NaN,NaN
6,STATION_7,2018-09-01 06:00:00,NaN,NaN,NaN,NaN
7,STATION_7,2018-09-01 07:00:00,NaN,NaN,NaN,NaN
8,STATION_7,2018-09-01 08:00:00,NaN,NaN,NaN,NaN
9,STATION_7,2018-09-01 09:00:00,NaN,NaN,NaN,NaN
10,STATION_7,2018-09-01 10:00:00,25.0,26.0,22.0,Quasi Sereno
11,STATION_7,2018-09-01 11:00:00,NaN,NaN,NaN,NaN
12,STATION_7,2018-09-01 12:00:00,29.0,29.0,22.0,Quasi Sereno
13,STATION_7,2018-09-01 13:00:00,NaN,NaN,NaN,NaN
14,STATION_7,2018-09-01 14:00:00,NaN,NaN,NaN,NaN
15,STATION_7,2018-09-01 15:00:00,NaN,NaN,NaN,NaN
16,STATION_7,2018-09-01 16:00:00,NaN,NaN,NaN,NaN
17,STATION_7,2018-09-01 17:00:00,NaN,NaN,NaN,NaN
18,STATION_7,2018-09-01 18:00:00,NaN,NaN,NaN,NaN
19,STATION_7,2018-09-01 19:00:00,NaN,NaN,NaN,NaN
20,STATION_7,2018-09-01 20:00:00,NaN,NaN,NaN,NaN
21,STATION_7,2018-09-01 21:00:00,NaN,NaN,NaN,NaN
22,STATION_7,2018-09-01 22:00:00,25.0,30.0,22.0,Quasi Sereno
23,STATION_7,2018-09-01 23:00:00,NaN,NaN,NaN,NaN
24,STATION_7,2018-09-02 00:00:00,23.0,30.0,22.0,Quasi Sereno
25,STATION_7,2018-09-02 01:00:00,NaN,NaN,NaN,NaN
26,STATION_7,2018-09-02 02:00:00,NaN,NaN,NaN,NaN
27,STATION_7,2018-09-02 03:00:00,NaN,NaN,NaN,NaN
28,STATION_7,2018-09-02 04:00:00,NaN,NaN,NaN,NaN
29,STATION_7,2018-09-02 05:00:00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
266666,STATION_18,2018-12-31 18:00:00,NaN,NaN,NaN,NaN
266667,STATION_18,2018-12-31 19:00:00,NaN,NaN,NaN,NaN
266668,STATION_18,2018-12-31 20:00:00,NaN,NaN,NaN,NaN
266669,STATION_18,2018-12-31 21:00:00,NaN,NaN,NaN,NaN
266670,STATION_18,2018-12-31 22:00:00,NaN,NaN,NaN,NaN
266671,STATION_18,2018-12-31 23:00:00,NaN,NaN,NaN,NaN
266672,STATION_18,2019-01-01 00:00:00,NaN,NaN,NaN,NaN
266673,STATION_18,2019-01-01 01:00:00,NaN,NaN,NaN,NaN
266674,STATION_18,2019-01-01 02:00:00,NaN,NaN,NaN,NaN
266675,STATION_18,2019-01-01 03:00:00,NaN,NaN,NaN,NaN
266676,STATION_18,2019-01-01 04:00:00,NaN,NaN,NaN,NaN
266677,STATION_18,2019-01-01 05:00:00,NaN,NaN,NaN,NaN
266678,STATION_18,2019-01-01 06:00:00,NaN,NaN,NaN,NaN
266679,STATION_18,2019-01-01 07:00:00,NaN,NaN,NaN,NaN
266680,STATION_18,2019-01-01 08:00:00,NaN,NaN,NaN,NaN
266681,STATION_18,2019-01-01 09:00:00,NaN,NaN,NaN,NaN
266682,STATION_18,2019-01-01 10:00:00,NaN,NaN,NaN,NaN
266683,STATION_18,2019-01-01 11:00:00,NaN,NaN,NaN,NaN
266684,STATION_18,2019-01-01 12:00:00,NaN,NaN,NaN,NaN
266685,STATION_18,2019-01-01 13:00:00,NaN,NaN,NaN,NaN
266686,STATION_18,2019-01-01 14:00:00,NaN,NaN,NaN,NaN
266687,STATION_18,2019-01-01 15:00:00,NaN,NaN,NaN,NaN
266688,STATION_18,2019-01-01 16:00:00,NaN,NaN,NaN,NaN
266689,STATION_18,2019-01-01 17:00:00,NaN,NaN,NaN,NaN
266690,STATION_18,2019-01-01 18:00:00,NaN,NaN,NaN,NaN
266691,STATION_18,2019-01-01 19:00:00,NaN,NaN,NaN,NaN
266692,STATION_18,2019-01-01 20:00:00,NaN,NaN,NaN,NaN
266693,STATION_18,2019-01-01 21:00:00,NaN,NaN,NaN,NaN
266694,STATION_18,2019-01-01 22:00:00,NaN,NaN,NaN,NaN
266695,STATION_18,2019-01-01 23:00:00,NaN,NaN,NaN,NaN

In [11]:
#Creazione Dizionario per le distanze
distances_dict = dict()
d=list(distances.groupby(by=["KEY","KM"]).groups.keys())
for x in tqdm(d):
    distances_dict[x] =list(map(lambda x: x.split(','), distances.loc[(distances['KEY']==x[0]) & 
                                                             (distances['KM']==x[1])].STATIONS.values[0].split(";")))

HBox(children=(IntProgress(value=0, max=41046), HTML(value='')))

In [12]:
weather_train_df2=weather_train_df2.set_index(["ID","DATETIME_UTC"])
weather_train_df2.sort_index(inplace=True)# This makes the lookup faster
weather_train_df2

                               TEMPERATURE  MAX_TEMPERATURE  MIN_TEMPERATURE  \
ID        DATETIME_UTC
STATION_0 2018-09-01 00:00:00          NaN              NaN              NaN
          2018-09-01 01:00:00          NaN              NaN              NaN
          2018-09-01 02:00:00          NaN              NaN              NaN
          2018-09-01 03:00:00          NaN              NaN              NaN
          2018-09-01 04:00:00          NaN              NaN              NaN
          2018-09-01 05:00:00         21.0             21.0             21.0
          2018-09-01 06:00:00         21.0             21.0             21.0
          2018-09-01 07:00:00          NaN              NaN              NaN
          2018-09-01 08:00:00         21.0             21.0             21.0
          2018-09-01 09:00:00         24.0             21.0             21.0
          2018-09-01 10:00:00         27.0             24.0             21.0
          2018-09-01 11:00:00         27.0             27.0             21.0
          2018-09-01 12:00:00          NaN              NaN              NaN
          2018-09-01 13:00:00          NaN              NaN              NaN
          2018-09-01 14:00:00          NaN              NaN              NaN
          2018-09-01 15:00:00          NaN              NaN              NaN
          2018-09-01 16:00:00          NaN              NaN              NaN
          2018-09-01 17:00:00          NaN              NaN              NaN
          2018-09-01 18:00:00          NaN              NaN              NaN
          2018-09-01 19:00:00          NaN              NaN              NaN
          2018-09-01 20:00:00         28.0             31.0             21.0
          2018-09-01 21:00:00         28.0             31.0             21.0
          2018-09-01 22:00:00         28.0             31.0             21.0
          2018-09-01 23:00:00          NaN              NaN              NaN
          2018-09-02 00:00:00         28.0             31.0             21.0
          2018-09-02 01:00:00         28.0             31.0             21.0
          2018-09-02 02:00:00         28.0             31.0             21.0
          2018-09-02 03:00:00         28.0             31.0             21.0
          2018-09-02 04:00:00         28.0             31.0             21.0
          2018-09-02 05:00:00         28.0             31.0             21.0
...                                    ...              ...              ...
STATION_9 2018-12-31 18:00:00          NaN              NaN              NaN
          2018-12-31 19:00:00          NaN              NaN              NaN
          2018-12-31 20:00:00          NaN              NaN              NaN
          2018-12-31 21:00:00          NaN              NaN              NaN
          2018-12-31 22:00:00          NaN              NaN              NaN
          2018-12-31 23:00:00          NaN              NaN              NaN
          2019-01-01 00:00:00          NaN              NaN              NaN
          2019-01-01 01:00:00          NaN              NaN              NaN
          2019-01-01 02:00:00          NaN              NaN              NaN
          2019-01-01 03:00:00          NaN              NaN              NaN
          2019-01-01 04:00:00          NaN              NaN              NaN
          2019-01-01 05:00:00          NaN              NaN              NaN
          2019-01-01 06:00:00          NaN              NaN              NaN
          2019-01-01 07:00:00          NaN              NaN              NaN
          2019-01-01 08:00:00          NaN              NaN              NaN
          2019-01-01 09:00:00          NaN              NaN              NaN
          2019-01-01 10:00:00          NaN              NaN              NaN
          2019-01-01 11:00:00          NaN              NaN              NaN
          2019-01-01 12:00:00          NaN              NaN              NaN
          2019-01-01 13:00:00          NaN              NaN              NaN
          2019-01-01 14:00:00          NaN              NaN              NaN
          2019-01-01 15:00:00          NaN              NaN              NaN
          2019-01-01 16:00:00          NaN              NaN              NaN
          2019-01-01 17:00:00          NaN              NaN              NaN
          2019-01-01 18:00:00          NaN              NaN              NaN
          2019-01-01 19:00:00          NaN              NaN              NaN
          2019-01-01 20:00:00          NaN              NaN              NaN
          2019-01-01 21:00:00          NaN              NaN              NaN
          2019-01-01 22:00:00          NaN              NaN              NaN
          2019-01-01 23:00:00          NaN              NaN              NaN

                                          WEATHER
ID        DATETIME_UTC
STATION_0 2018-09-01 00:00:00                 NaN
          2018-09-01 01:00:00                 NaN
          2018-09-01 02:00:00                 NaN
          2018-09-01 03:00:00                 NaN
          2018-09-01 04:00:00                 NaN
          2018-09-01 05:00:00        Quasi Sereno
          2018-09-01 06:00:00        Quasi Sereno
          2018-09-01 07:00:00                 NaN
          2018-09-01 08:00:00        Quasi Sereno
          2018-09-01 09:00:00        Quasi Sereno
          2018-09-01 10:00:00        Quasi Sereno
          2018-09-01 11:00:00        Quasi Sereno
          2018-09-01 12:00:00                 NaN
          2018-09-01 13:00:00                 NaN
          2018-09-01 14:00:00                 NaN
          2018-09-01 15:00:00                 NaN
          2018-09-01 16:00:00                 NaN
          2018-09-01 17:00:00                 NaN
          2018-09-01 18:00:00                 NaN
          2018-09-01 19:00:00                 NaN
          2018-09-01 20:00:00  Gelata con Foschia
          2018-09-01 21:00:00  Gelata con Foschia
          2018-09-01 22:00:00  Gelata con Foschia
          2018-09-01 23:00:00                 NaN
          2018-09-02 00:00:00  Gelata con Foschia
          2018-09-02 01:00:00  Gelata con Foschia
          2018-09-02 02:00:00  Gelata con Foschia
          2018-09-02 03:00:00  Gelata con Foschia
          2018-09-02 04:00:00  Gelata con Foschia
          2018-09-02 05:00:00  Gelata con Foschia
...                                           ...
STATION_9 2018-12-31 18:00:00                 NaN
          2018-12-31 19:00:00                 NaN
          2018-12-31 20:00:00                 NaN
          2018-12-31 21:00:00                 NaN
          2018-12-31 22:00:00                 NaN
          2018-12-31 23:00:00                 NaN
          2019-01-01 00:00:00                 NaN
          2019-01-01 01:00:00                 NaN
          2019-01-01 02:00:00                 NaN
          2019-01-01 03:00:00                 NaN
          2019-01-01 04:00:00                 NaN
          2019-01-01 05:00:00                 NaN
          2019-01-01 06:00:00                 NaN
          2019-01-01 07:00:00                 NaN
          2019-01-01 08:00:00                 NaN
          2019-01-01 09:00:00                 NaN
          2019-01-01 10:00:00                 NaN
          2019-01-01 11:00:00                 NaN
          2019-01-01 12:00:00                 NaN
          2019-01-01 13:00:00                 NaN
          2019-01-01 14:00:00                 NaN
          2019-01-01 15:00:00                 NaN
          2019-01-01 16:00:00                 NaN
          2019-01-01 17:00:00                 NaN
          2019-01-01 18:00:00                 NaN
          2019-01-01 19:00:00                 NaN
          2019-01-01 20:00:00                 NaN
          2019-01-01 21:00:00                 NaN
          2019-01-01 22:00:00                 NaN
          2019-01-01 23:00:00                 NaN

[266696 rows x 4 columns]

In [13]:
base_structure_df.shape

(5298840, 5)

In [ ]:
import math, time

base_structure_df ["WEATHER"]=""
base_structure_df ["DISTANCE"]=np.NaN


for i,row in tqdm(base_structure_df.iterrows()):
    date=row.DATETIME_UTC
    
    stations=distances_dict[(str(row.KEY),row.KM)]
    L = len(stations)
    weather = np.NaN
    it=0
    while not isinstance(weather, str):
        #get station and dist from dict
        station=stations[it][0]
        distance=stations[it][1]
        start_w = time.time()
        weather=weather_train_df2.loc[(station,date)].WEATHER.values[0]
        it+=1
        if it>= L:
            print("NON PRESENTE")
            print (row)
            break
    base_structure_df.at[i,'WEATHER'] = weather
    base_structure_df.at[i,'DISTANCE'] = distance

In [13]:
from multiprocessing import Pool, Value
import sys, time

num_partitions = 10 #number of partitions to split dataframe
num_cores = os.cpu_count() #number of cores on your machine
counter = None

def init(args):
    ''' store the counter for later use '''
    global counter
    counter = args
    
def parallelize_dataframe(df, func):
    df_split = np.array_split(df, num_partitions)
    pool = Pool(num_cores, initializer = init, initargs = (counter, ))
    df = pd.concat(pool.map(func, df_split))
    pool.close()
    pool.join()
    return df

def parse_dataset(df):
    for i,row in df.iterrows():
        with counter.get_lock():
            counter.value += 1
            if divmod(counter.value, 100)[1] == 0:
                print(f'{counter.value} rows processed', end='\r')
            sys.stdout.flush()
        date=row.DATETIME_UTC
        stations=distances_dict[(str(row.KEY),row.KM)]
        L = len(stations)
        weather = np.NaN
        it=0
        while not isinstance(weather, str):
            #get station and dist from dict
            station=stations[it][0]
            distance=stations[it][1]
            weather=weather_train_df2.loc[(station,date)].WEATHER.values[0]
            it+=1
            if it>= L:
                break

        df.at[i,'WEATHER'] = weather
        df.at[i,'DISTANCE'] = distance
    return df

base_structure_df ["WEATHER"]=""
base_structure_df ["DISTANCE"]=np.NaN

counter = Value('i', 0)  
start = time.time()
base_structure_df = parallelize_dataframe(base_structure_df, parse_dataset)
print(f'Time elapsed {time.time()-start}')

Time elapsed 5215.618129968643

In [14]:
base_structure_df.to_csv('resources/dataset/preprocessed/base_structure_df_weather.csv.gz', index=True, compression='gzip')

In [14]:
base_structure_df = pd.read_csv('resources/dataset/preprocessed/base_structure_df_weather.csv.gz', index_col=0, compression='gzip')

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [15]:
base_structure_df.head()

          DATETIME_UTC  KEY   KM       WEATHER  DISTANCE
0  2018-09-01 00:00:00    0  333  Quasi Sereno      33.0
1  2018-09-01 00:00:00    0  337  Quasi Sereno      38.0
2  2018-09-01 00:00:00    0  342  Quasi Sereno      43.0
3  2018-09-01 00:00:00    0  343  Quasi Sereno      44.0
4  2018-09-01 00:00:00    0  357  Quasi Sereno      57.0