In [1]:
import os
import sys
sys.path.append(os.chdir('../../'))

In [2]:
import pandas as pd
from tqdm.auto import tqdm
import numpy as np
import datetime

import matplotlib.pyplot as plt
import plotly.plotly as ply
import plotly.graph_objs as go
import src.utils.graph as graph
from plotly.offline import init_notebook_mode, iplot
init_notebook_mode(connected=True)

tqdm.pandas()
pd.options.display.max_columns = None
pd.options.display.max_colwidth = -1

In [3]:
import src.data as data
import src.utility as utility

In [4]:
mode = 'test'
steps_behind_event=4
steps_after_event=3

In [5]:
#sensors = data.sensors()
s = data.speeds_original(mode) #.merge(sensors, how='left')
# - events
e = data.events(mode)
# - weather
# ......

# join dataframes
joined_df = utility.merge_speed_events(s, e)

caching resources/dataset/originals/speeds_train.csv.gz
caching resources/dataset/preprocessed/events_train.csv.gz

/Users/federico/miniconda3/envs/recsys/lib/python3.6/site-packages/numpy/lib/arraysetops.py:569: FutureWarning:

elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison

In [6]:
joined_df[(joined_df.KEY_2 == '0_333') & (joined_df.DATETIME_UTC == '2018-09-05 18:00:00') ]

,KEY,DATETIME_UTC,KM,SPEED_AVG,SPEED_SD,SPEED_MIN,SPEED_MAX,N_VEHICLES,KEY_2,event_index,START_DATETIME_UTC,END_DATETIME_UTC,EVENT_DETAIL,EVENT_TYPE,KM_END,KM_START,KM_EVENT,step_duration
75111,0,2018-09-05 18:00:00,333.0,216.837609,38.239321,79.282,459.512,695.0,0_333,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN
75112,0,2018-09-05 18:00:00,333.0,216.837609,38.239321,79.282,459.512,695.0,0_333,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN
75113,0,2018-09-05 18:00:00,333.0,216.837609,38.239321,79.282,459.512,695.0,0_333,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN
75114,0,2018-09-05 18:00:00,333.0,216.837609,38.239321,79.282,459.512,695.0,0_333,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN
75115,0,2018-09-05 18:00:00,333.0,216.837609,38.239321,79.282,459.512,695.0,0_333,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
dioc[(dioc.KEY_2 == '0_333') & (dioc.DATETIME_UTC == '2018-09-05 18:00:00') ]

,KEY,DATETIME_UTC,KM,SPEED_AVG,SPEED_SD,SPEED_MIN,SPEED_MAX,N_VEHICLES,KEY_2,index,START_DATETIME_UTC,END_DATETIME_UTC,EVENT_DETAIL,EVENT_TYPE,KM_END,KM_START,KM_EVENT,step_duration
75111,0,2018-09-05 18:00:00,333.0,216.837609,38.239321,79.282,459.512,695.0,0_333,15854.0,2018-08-02 07:45:00,2018-10-03 10:15:00,48.0,Pavimentazione,498.0,491.0,496.0,5963.0
75112,0,2018-09-05 18:00:00,333.0,216.837609,38.239321,79.282,459.512,695.0,0_333,16477.0,2018-08-27 07:45:00,2018-09-07 15:30:00,1.0,Pavimentazione,415.0,412.0,NaN,1088.0
75113,0,2018-09-05 18:00:00,333.0,216.837609,38.239321,79.282,459.512,695.0,0_333,16703.0,2018-09-03 08:45:00,2018-09-08 10:15:00,1.0,Pavimentazione,394.0,391.0,NaN,487.0
75114,0,2018-09-05 18:00:00,333.0,216.837609,38.239321,79.282,459.512,695.0,0_333,16769.0,2018-09-04 12:45:00,2018-09-07 14:45:00,29.0,Opera_arte,363.0,361.0,NaN,297.0
75115,0,2018-09-05 18:00:00,333.0,216.837609,38.239321,79.282,459.512,695.0,0_333,34645.0,2018-09-05 09:00:00,2018-09-05 18:00:00,55.0,Opera_arte,515.0,508.0,513.0,37.0

In [24]:
s[(s.KEY_2 == '0_333') & (s.DATETIME_UTC == '2018-09-05 18:00:00') ]

,KEY,DATETIME_UTC,KM,SPEED_AVG,SPEED_SD,SPEED_MIN,SPEED_MAX,N_VEHICLES,KEY_2
5959369,0,2018-09-05 18:00:00,333,216.837609,38.239321,79.282,459.512,695,0_333

In [25]:
def time_windows_event(dataset_df, steps_behind=10, steps_after=3, step=15*60):
    """ Filter the dataset to get a window containing n time steps before the beginning
        of the event and m time steps after the end for each involved sensor

        dataset_df (df): dataset dataframe
        steps_behind (int): n (not including the event start)
        steps_after (int): m (not including the event start)
    """
    tqdm.pandas()
    # get the first time step of each event for each sensor
    start_events = dataset_df[dataset_df.event_index.notnull()]
    start_events = start_events[['KEY_2','event_index','DATETIME_UTC']].groupby(['KEY_2','event_index'], as_index=False).min()
    start_events['sample_id'] = start_events.index
    print('Total events found:', start_events.shape[0])

    start_delta = datetime.timedelta(seconds=step*steps_behind)
    end_delta = datetime.timedelta(seconds=step*steps_after)

    # construct the time window for each event beginning
    start_events['window'] = start_events.progress_apply(lambda x:
                                    list(pd.date_range(start=x.DATETIME_UTC - start_delta,
                                                       end=x.DATETIME_UTC + end_delta,
                                                       freq=f'{step}s')), axis=1)
    start_events = start_events.drop('DATETIME_UTC', axis=1)

    # build the filter
    filter_df = pd.DataFrame({ col: np.repeat(start_events[col].values, start_events['window'].str.len())
        for col in start_events.columns.drop('window')
    }).assign(**{'DATETIME_UTC': np.concatenate(start_events['window'].values)})
    print('Filter size:', filter_df.shape[0])
    #return filter_df

    # join to filter the desired rows, removing duplicated road-timestamps from the dataset (they will be duplicated again
    # after the merge, since a different time window is created for each event)
    
    return filter_df.merge(data.speeds_original(), how='left', on=['KEY_2','DATETIME_UTC']) \
            .sort_values(['sample_id','DATETIME_UTC'])

In [11]:
filter_df = time_windows_event(joined_df, steps_behind=steps_behind_event, steps_after=steps_after_event)

Total events found: 8117

HBox(children=(IntProgress(value=0, max=8117), HTML(value='')))

Filter size: 64936

In [29]:
filter_df.head(12) #[(filter_df.KEY_2 == '0_333') & (filter_df.DATETIME_UTC == '2018-09-05 17:15:00')]

    KEY_2  event_index  sample_id        DATETIME_UTC
0   0_333  16789.0      0         2018-09-05 17:15:00
1   0_333  16789.0      0         2018-09-05 17:30:00
2   0_333  16789.0      0         2018-09-05 17:45:00
3   0_333  16789.0      0         2018-09-05 18:00:00
4   0_333  16789.0      0         2018-09-05 18:15:00
5   0_333  16789.0      0         2018-09-05 18:30:00
6   0_333  16789.0      0         2018-09-05 18:45:00
7   0_333  16789.0      0         2018-09-05 19:00:00
8   0_333  17038.0      1         2018-09-15 10:15:00
9   0_333  17038.0      1         2018-09-15 10:30:00
10  0_333  17038.0      1         2018-09-15 10:45:00
11  0_333  17038.0      1         2018-09-15 11:00:00

In [22]:
filter_df.shape

(64936, 4)

In [24]:
joined_df[(joined_df.KEY_2 == '0_333') & (joined_df.DATETIME_UTC == '2018-09-05 17:15:00')]

,KEY,DATETIME_UTC,KM,SPEED_AVG,SPEED_SD,SPEED_MIN,SPEED_MAX,N_VEHICLES,KEY_2,event_index,START_DATETIME_UTC,END_DATETIME_UTC,EVENT_DETAIL,EVENT_TYPE,KM_END,KM_START,KM_EVENT,step_duration
540,0,2018-09-05 17:15:00,333.0,218.159601,36.571273,64.72,432.006,736.0,0_333,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN
541,0,2018-09-05 17:15:00,333.0,218.159601,36.571273,64.72,432.006,736.0,0_333,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN
542,0,2018-09-05 17:15:00,333.0,218.159601,36.571273,64.72,432.006,736.0,0_333,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN
543,0,2018-09-05 17:15:00,333.0,218.159601,36.571273,64.72,432.006,736.0,0_333,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN
544,0,2018-09-05 17:15:00,333.0,218.159601,36.571273,64.72,432.006,736.0,0_333,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
sensors = data.sensors()
weather = data.weather()
    
print('Merging speeds and events...')
e = data.events(mode)
se = utility.merge_speed_events(data.speeds_original(mode), e)

print('Done')

# create the time windows for each event
print('Creating time windows for events...')
joined_df = utility.time_windows_event(se, mode=mode, steps_behind=steps_behind_event, steps_after=steps_after_event)

# add other dataframes
# - events
#joined_df = joined_df.merge(e.drop(['']), how='left', left_on='event_index', right_index=True)

caching sensors

sensors loaded in: 0.0155 s

shape of the dataframe is: (2171, 5)
caching resources/dataset/preprocessed/base_structure_df_weather.csv.gz
Merging speeds and events...
caching resources/dataset/preprocessed/events_test.csv.gz
caching resources/dataset/originals/speeds_test.csv.gz
Done
Creating time windows for events...
Total events found: 3449

HBox(children=(IntProgress(value=0, max=3449), HTML(value='')))

Filter size: 27592

In [6]:
joined_df.head()

,KEY_2,event_index,sample_id,DATETIME_UTC,KEY,KM,SPEED_AVG,SPEED_SD,SPEED_MIN,SPEED_MAX,N_VEHICLES
0,0_333,4244.0,0,2018-12-07 10:00:00,0.0,333.0,241.072538,21.877692,195.778,304.184,171.0
1,0_333,4244.0,0,2018-12-07 10:15:00,0.0,333.0,235.650724,21.686928,184.452,305.802,199.0
2,0_333,4244.0,0,2018-12-07 10:30:00,0.0,333.0,232.699861,24.707300,158.564,310.656,216.0
3,0_333,4244.0,0,2018-12-07 10:45:00,0.0,333.0,230.531447,22.642944,186.070,331.690,217.0
4,0_333,4244.0,0,2018-12-07 11:00:00,0.0,333.0,237.263172,25.334048,177.980,304.184,186.0

In [7]:
joined_df.shape

(27592, 11)

In [8]:
joined_df = joined_df.merge(data.events_original().drop(['KEY','KEY_2'],axis=1), how='left', left_on='event_index', right_index=True)

caching resources/dataset/originals/events_train.csv.gz

In [9]:
# - weather
# - sensors
joined_df = joined_df.merge(weather, how='left').merge(sensors, how='left').round(4).groupby('sample_id').agg({
    'KEY':'first',
    'KM':'first',
    'event_index':lambda x: x.values[steps_behind_event],
    'DATETIME_UTC':list,
    'SPEED_AVG':list, #[list, lambda x: x[0:event_beginning_step].dropna().mean()],
    'SPEED_SD':list,
    'SPEED_MAX':list,
    'SPEED_MIN':list,
    'N_VEHICLES':list,
    'EMERGENCY_LANE':'first',
    'LANES':'first',
    'ROAD_TYPE':'first',
    'EVENT_DETAIL':lambda x: x.values[steps_behind_event],
    'EVENT_TYPE':lambda x: x.values[steps_behind_event],
    'WEATHER': list,
    'DISTANCE': list,
    'TEMPERATURE': list,
    'MIN_TEMPERATURE': list,
    'MAX_TEMPERATURE': list
})

In [11]:
# split the last m measures in different columns
def split_prediction_fields(row, event_beginning_step):
    return pd.Series((
            row.DATETIME_UTC[:event_beginning_step], row.DATETIME_UTC[event_beginning_step:], 
            row.SPEED_AVG[:event_beginning_step],    row.SPEED_AVG[event_beginning_step:],
            row.SPEED_SD[:event_beginning_step],
            row.SPEED_MAX[:event_beginning_step],
            row.SPEED_MIN[:event_beginning_step],
            row.N_VEHICLES[:event_beginning_step],
            row.WEATHER[:event_beginning_step],
            row.DISTANCE[:event_beginning_step],
            row.TEMPERATURE[:event_beginning_step],
            row.MIN_TEMPERATURE[:event_beginning_step],
            row.MAX_TEMPERATURE[:event_beginning_step],
    ))

print('Splitting time steps into separate columns...')

columns_to_split = ['DATETIME_UTC','DATETIME_UTC_y',
                    'SPEED_AVG','SPEED_AVG_Y',
                    'SPEED_SD', 'SPEED_MAX', 'SPEED_MIN', 'N_VEHICLES', 'WEATHER', 'DISTANCE',
                    'TEMPERATURE', 'MIN_TEMPERATURE', 'MAX_TEMPERATURE']
joined_df[columns_to_split] = joined_df.apply(split_prediction_fields, axis=1, event_beginning_step=steps_behind_event)

for col_name in columns_to_split:
    if col_name.upper().endswith('_Y'):
        new_cols = ['{}_{}'.format(col_name, i) for i in range(0, steps_after_event+1)]
    else:
        new_cols = ['{}_{}'.format(col_name, i) for i in range(-steps_behind_event, 0)]

    joined_df[new_cols] = pd.DataFrame(joined_df[col_name].values.tolist(), index=joined_df.index)

Splitting time steps into separate columns...

In [14]:
joined_df.head(3)

,KEY,KM,event_index,DATETIME_UTC,SPEED_AVG,SPEED_SD,SPEED_MAX,SPEED_MIN,N_VEHICLES,EMERGENCY_LANE,LANES,ROAD_TYPE,EVENT_DETAIL,EVENT_TYPE,WEATHER,DISTANCE,TEMPERATURE,MIN_TEMPERATURE,MAX_TEMPERATURE,DATETIME_UTC_y,SPEED_AVG_Y,DATETIME_UTC_-4,DATETIME_UTC_-3,DATETIME_UTC_-2,DATETIME_UTC_-1,DATETIME_UTC_y_0,DATETIME_UTC_y_1,DATETIME_UTC_y_2,DATETIME_UTC_y_3,SPEED_AVG_-4,SPEED_AVG_-3,SPEED_AVG_-2,SPEED_AVG_-1,SPEED_AVG_Y_0,SPEED_AVG_Y_1,SPEED_AVG_Y_2,SPEED_AVG_Y_3,SPEED_SD_-4,SPEED_SD_-3,SPEED_SD_-2,SPEED_SD_-1,SPEED_MAX_-4,SPEED_MAX_-3,SPEED_MAX_-2,SPEED_MAX_-1,SPEED_MIN_-4,SPEED_MIN_-3,SPEED_MIN_-2,SPEED_MIN_-1,N_VEHICLES_-4,N_VEHICLES_-3,N_VEHICLES_-2,N_VEHICLES_-1,WEATHER_-4,WEATHER_-3,WEATHER_-2,WEATHER_-1,DISTANCE_-4,DISTANCE_-3,DISTANCE_-2,DISTANCE_-1,TEMPERATURE_-4,TEMPERATURE_-3,TEMPERATURE_-2,TEMPERATURE_-1,MIN_TEMPERATURE_-4,MIN_TEMPERATURE_-3,MIN_TEMPERATURE_-2,MIN_TEMPERATURE_-1,MAX_TEMPERATURE_-4,MAX_TEMPERATURE_-3,MAX_TEMPERATURE_-2,MAX_TEMPERATURE_-1
sample_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,0.0,333.0,4244.0,"[2018-12-07 10:00:00, 2018-12-07 10:15:00, 2018-12-07 10:30:00, 2018-12-07 10:45:00]","[241.0725, 235.6507, 232.6999, 230.5314]","[21.8777, 21.6869, 24.7073, 22.6429]","[304.184, 305.802, 310.656, 331.69]","[195.778, 184.452, 158.564, 186.07]","[171.0, 199.0, 216.0, 217.0]",1.0,2.0,1.0,20.0,extended_accident,"[nan, nan, nan, nan]","[nan, nan, nan, nan]","[nan, nan, nan, nan]","[nan, nan, nan, nan]","[nan, nan, nan, nan]","[2018-12-07 11:00:00, 2018-12-07 11:15:00, 2018-12-07 11:30:00, 2018-12-07 11:45:00]","[237.2632, 240.5375, 237.6489, 242.4303]",2018-12-07 10:00:00,2018-12-07 10:15:00,2018-12-07 10:30:00,2018-12-07 10:45:00,2018-12-07 11:00:00,2018-12-07 11:15:00,2018-12-07 11:30:00,2018-12-07 11:45:00,241.0725,235.6507,232.6999,230.5314,237.2632,240.5375,237.6489,242.4303,21.8777,21.6869,24.7073,22.6429,304.184,305.802,310.656,331.690,195.778,184.452,158.564,186.070,171.0,199.0,216.0,217.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,337.0,4155.0,"[2018-12-03 11:30:00, 2018-12-03 11:45:00, 2018-12-03 12:00:00, 2018-12-03 12:15:00]","[227.0271, 221.5783, 223.0587, 224.6654]","[32.3873, 33.183, 33.4944, 34.4274]","[309.038, 341.398, 323.6, 304.184]","[59.866, 61.484, 61.484, 64.72]","[201.0, 203.0, 237.0, 212.0]",1.0,2.0,1.0,25.0,Calamita_naturale,"[Quasi Sereno, Quasi Sereno, Quasi Sereno, Quasi Sereno]","[226.0, 226.0, 226.0, 226.0]","[17.0, 17.0, 17.0, 17.0]","[8.0, 8.0, 8.0, 8.0]","[17.0, 17.0, 17.0, 17.0]","[2018-12-03 12:30:00, 2018-12-03 12:45:00, 2018-12-03 13:00:00, 2018-12-03 13:15:00]","[224.4166, 225.7645, 224.8808, 222.0327]",2018-12-03 11:30:00,2018-12-03 11:45:00,2018-12-03 12:00:00,2018-12-03 12:15:00,2018-12-03 12:30:00,2018-12-03 12:45:00,2018-12-03 13:00:00,2018-12-03 13:15:00,227.0271,221.5783,223.0587,224.6654,224.4166,225.7645,224.8808,222.0327,32.3873,33.1830,33.4944,34.4274,309.038,341.398,323.600,304.184,59.866,61.484,61.484,64.720,201.0,203.0,237.0,212.0,Quasi Sereno,Quasi Sereno,Quasi Sereno,Quasi Sereno,226.0,226.0,226.0,226.0,17.0,17.0,17.0,17.0,8.0,8.0,8.0,8.0,17.0,17.0,17.0,17.0
2,0.0,337.0,4244.0,"[2018-12-07 10:00:00, 2018-12-07 10:15:00, 2018-12-07 10:30:00, 2018-12-07 10:45:00]","[220.773, 222.0066, 212.8068, 220.1442]","[36.406, 34.5186, 27.6025, 31.87]","[321.982, 351.106, 297.712, 326.836]","[59.866, 63.102, 74.428, 63.102]","[212.0, 228.0, 244.0, 286.0]",1.0,2.0,1.0,20.0,extended_accident,"[nan, nan, nan, nan]","[nan, nan, nan, nan]","[nan, nan, nan, nan]","[nan, nan, nan, nan]","[nan, nan, nan, nan]","[2018-12-07 11:00:00, 2018-12-07 11:15:00, 2018-12-07 11:30:00, 2018-12-07 11:45:00]","[215.485, 222.5566, 222.8882, 222.6499]",2018-12-07 10:00:00,2018-12-07 10:15:00,2018-12-07 10:30:00,2018-12-07 10:45:00,2018-12-07 11:00:00,2018-12-07 11:15:00,2018-12-07 11:30:00,2018-12-07 11:45:00,220.7730,222.0066,212.8068,220.1442,215.4850,222.5566,222.8882,222.6499,36.4060,34.5186,27.6025,31.8700,321.982,351.106,297.712,326.836,59.866,63.102,74.428,63.102,212.0,228.0,244.0,286.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
joined_df = joined_df.drop(columns_to_split, axis=1)

In [16]:
joined_df.head(3)

,KEY,KM,event_index,EMERGENCY_LANE,LANES,ROAD_TYPE,EVENT_DETAIL,EVENT_TYPE,DATETIME_UTC_-4,DATETIME_UTC_-3,DATETIME_UTC_-2,DATETIME_UTC_-1,DATETIME_UTC_y_0,DATETIME_UTC_y_1,DATETIME_UTC_y_2,DATETIME_UTC_y_3,SPEED_AVG_-4,SPEED_AVG_-3,SPEED_AVG_-2,SPEED_AVG_-1,SPEED_AVG_Y_0,SPEED_AVG_Y_1,SPEED_AVG_Y_2,SPEED_AVG_Y_3,SPEED_SD_-4,SPEED_SD_-3,SPEED_SD_-2,SPEED_SD_-1,SPEED_MAX_-4,SPEED_MAX_-3,SPEED_MAX_-2,SPEED_MAX_-1,SPEED_MIN_-4,SPEED_MIN_-3,SPEED_MIN_-2,SPEED_MIN_-1,N_VEHICLES_-4,N_VEHICLES_-3,N_VEHICLES_-2,N_VEHICLES_-1,WEATHER_-4,WEATHER_-3,WEATHER_-2,WEATHER_-1,DISTANCE_-4,DISTANCE_-3,DISTANCE_-2,DISTANCE_-1,TEMPERATURE_-4,TEMPERATURE_-3,TEMPERATURE_-2,TEMPERATURE_-1,MIN_TEMPERATURE_-4,MIN_TEMPERATURE_-3,MIN_TEMPERATURE_-2,MIN_TEMPERATURE_-1,MAX_TEMPERATURE_-4,MAX_TEMPERATURE_-3,MAX_TEMPERATURE_-2,MAX_TEMPERATURE_-1
sample_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,0.0,333.0,4244.0,1.0,2.0,1.0,20.0,extended_accident,2018-12-07 10:00:00,2018-12-07 10:15:00,2018-12-07 10:30:00,2018-12-07 10:45:00,2018-12-07 11:00:00,2018-12-07 11:15:00,2018-12-07 11:30:00,2018-12-07 11:45:00,241.0725,235.6507,232.6999,230.5314,237.2632,240.5375,237.6489,242.4303,21.8777,21.6869,24.7073,22.6429,304.184,305.802,310.656,331.690,195.778,184.452,158.564,186.070,171.0,199.0,216.0,217.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,337.0,4155.0,1.0,2.0,1.0,25.0,Calamita_naturale,2018-12-03 11:30:00,2018-12-03 11:45:00,2018-12-03 12:00:00,2018-12-03 12:15:00,2018-12-03 12:30:00,2018-12-03 12:45:00,2018-12-03 13:00:00,2018-12-03 13:15:00,227.0271,221.5783,223.0587,224.6654,224.4166,225.7645,224.8808,222.0327,32.3873,33.1830,33.4944,34.4274,309.038,341.398,323.600,304.184,59.866,61.484,61.484,64.720,201.0,203.0,237.0,212.0,Quasi Sereno,Quasi Sereno,Quasi Sereno,Quasi Sereno,226.0,226.0,226.0,226.0,17.0,17.0,17.0,17.0,8.0,8.0,8.0,8.0,17.0,17.0,17.0,17.0
2,0.0,337.0,4244.0,1.0,2.0,1.0,20.0,extended_accident,2018-12-07 10:00:00,2018-12-07 10:15:00,2018-12-07 10:30:00,2018-12-07 10:45:00,2018-12-07 11:00:00,2018-12-07 11:15:00,2018-12-07 11:30:00,2018-12-07 11:45:00,220.7730,222.0066,212.8068,220.1442,215.4850,222.5566,222.8882,222.6499,36.4060,34.5186,27.6025,31.8700,321.982,351.106,297.712,326.836,59.866,63.102,74.428,63.102,212.0,228.0,244.0,286.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
data.events_original('test').drop(['KEY','KEY_2'],axis=1).head()

caching resources/dataset/originals/events_test.csv.gz

,START_DATETIME_UTC,END_DATETIME_UTC,EVENT_DETAIL,EVENT_TYPE,KM_END,KM_START
0,2018-08-09 07:55:47,2018-12-21 18:12:56,3.0,Opera_arte,449,448
1,2018-09-25 19:23:56,2018-12-21 07:49:20,3.0,Opera_arte,2148,2148
2,2018-10-22 15:14:36,2018-12-21 08:08:30,15.0,Pavimentazione,267,267
3,2018-11-08 10:13:08,2018-12-21 07:52:19,0.0,Gestione_viabilita,2843,2844
4,2018-11-20 08:21:57,2018-12-07 08:51:39,0.0,Gestione_viabilita,1816,1821

In [32]:
data.events('test').drop(['KEY','KEY_2','DATETIME_UTC','step_duration','START_DATETIME_UTC','END_DATETIME_UTC'],axis=1).groupby(['index']).first()

,START_DATETIME_UTC,END_DATETIME_UTC,EVENT_DETAIL,EVENT_TYPE,KM_END,KM_START,KM_EVENT
index,,,,,,,
0,2018-08-09 08:00:00,2018-12-21 18:15:00,3.0,Opera_arte,449,448,NaN
1,2018-09-25 19:30:00,2018-12-21 08:00:00,3.0,Opera_arte,2150,2143,2148.0
2,2018-10-22 15:15:00,2018-12-21 08:15:00,15.0,Pavimentazione,269,262,267.0
3,2018-11-08 10:15:00,2018-12-21 08:00:00,0.0,Gestione_viabilita,2844,2843,NaN
4,2018-11-20 08:30:00,2018-12-07 09:00:00,0.0,Gestione_viabilita,1821,1816,NaN
5,2018-11-27 17:15:00,2018-12-10 08:45:00,0.0,Gestione_viabilita,2826,2819,2824.0
6,2018-11-27 17:15:00,2018-12-12 18:45:00,0.0,Gestione_viabilita,2422,2415,2420.0
7,2018-11-29 09:15:00,2018-12-07 19:00:00,0.0,Gestione_viabilita,2518,2517,NaN
8,2018-11-29 17:30:00,2018-12-11 16:00:00,0.0,Gestione_viabilita,297,295,NaN
9,2018-12-01 04:00:00,2018-12-01 07:45:00,17.0,extended_accident,2870,2868,NaN
10,2018-12-01 09:15:00,2018-12-01 09:30:00,20.0,extended_accident,2363,2356,2361.0
11,2018-12-01 09:15:00,2018-12-01 10:00:00,5.0,Ostacolo_in_carreggiata,2361,2354,2359.0
12,2018-12-01 12:45:00,2018-12-01 14:45:00,36.0,Barriere,470,463,468.0
13,2018-12-01 13:45:00,2018-12-01 14:45:00,37.0,extended_accident,2367,2360,2365.0
14,2018-12-02 08:45:00,2018-12-02 11:45:00,31.0,Allarme,282,275,280.0
15,2018-12-02 10:15:00,2018-12-02 13:00:00,0.0,Gestione_viabilita,1821,1818,NaN
16,2018-12-02 18:00:00,2018-12-02 19:30:00,5.0,Ostacolo_in_carreggiata,2389,2382,2387.0
17,2018-12-03 04:45:00,2018-12-03 05:45:00,54.0,Gestione_viabilita,954,937,NaN
18,2018-12-03 08:15:00,2018-12-03 09:00:00,35.0,Pavimentazione,718,711,716.0
19,2018-12-03 08:45:00,2018-12-03 17:45:00,2.0,Manutenzione_opere_in_verde,969,940,NaN
20,2018-12-03 09:00:00,2018-12-03 11:15:00,18.0,Veicolo_in_avaria,469,462,467.0
21,2018-12-04 08:00:00,2018-12-04 17:00:00,2.0,Manutenzione_opere_in_verde,969,959,NaN
22,2018-12-04 19:00:00,2018-12-04 22:15:00,17.0,extended_accident,951,944,949.0
23,2018-12-05 08:45:00,2018-12-05 18:45:00,0.0,Gestione_viabilita,2159,2158,NaN
24,2018-12-05 09:15:00,2018-12-05 18:30:00,2.0,Manutenzione_opere_in_verde,2406,2395,NaN
25,2018-12-06 08:15:00,2018-12-06 08:15:00,4.0,Ostacolo_in_carreggiata,940,933,938.0
26,2018-12-06 08:45:00,2018-12-06 19:30:00,42.0,Opera_arte,267,265,NaN
27,2018-12-06 09:00:00,2018-12-06 10:00:00,26.0,Pavimentazione,2424,2417,2422.0
28,2018-12-06 15:00:00,2018-12-06 15:30:00,4.0,Ostacolo_in_carreggiata,2826,2819,2824.0
29,2018-12-06 18:30:00,2018-12-06 20:15:00,4.0,Ostacolo_in_carreggiata,2892,2821,NaN
...,...,...,...,...,...,...,...
10438,2018-12-27 14:15:00,2018-12-27 15:45:00,1.0,Pavimentazione,541,499,NaN
10439,2018-12-28 07:00:00,2018-12-28 14:30:00,6.0,Gestione_viabilita,917,905,NaN
10440,2018-12-28 08:45:00,2018-12-28 14:30:00,6.0,Gestione_viabilita,499,465,NaN
10441,2018-12-28 11:30:00,2018-12-28 14:30:00,6.0,Gestione_viabilita,733,700,NaN
10442,2018-12-28 13:30:00,2018-12-28 14:30:00,6.0,Gestione_viabilita,462,381,NaN
10443,2018-12-28 23:30:00,2018-12-29 03:30:00,56.0,Meteo,765,700,NaN
10444,2018-12-29 07:00:00,2018-12-29 14:15:00,6.0,Gestione_viabilita,917,905,NaN
10445,2018-12-29 07:30:00,2018-12-29 14:15:00,6.0,Gestione_viabilita,465,453,NaN
10446,2018-12-29 08:30:00,2018-12-29 14:15:00,6.0,Gestione_viabilita,499,465,NaN
10447,2018-12-29 10:30:00,2018-12-29 14:15:00,6.0,Gestione_viabilita,497,449,NaN
10448,2018-12-29 11:15:00,2018-12-29 14:15:00,6.0,Gestione_viabilita,721,700,NaN
10449,2018-12-29 11:45:00,2018-12-29 14:15:00,67.0,Meteo,733,721,NaN
10450,2018-12-29 14:30:00,2018-12-29 21:15:00,56.0,Meteo,137,63,NaN
10451,2018-12-29 16:45:00,2018-12-30 16:00:00,56.0,Meteo,541,461,NaN
10452,2018-12-29 17:45:00,2018-12-29 20:15:00,56.0,Meteo,462,381,NaN
10453,2018-12-29 20:15:00,2018-12-29 21:15:00,4.0,Ostacolo_in_carreggiata,895,888,893.0
10454,2018-12-29 23:15:00,2018-12-30 15:45:00,56.0,Meteo,765,700,NaN
10455,2018-12-30 06:30:00,2018-12-30 08:15:00,1.0,Pavimentazione,911,904,909.0
10456,2018-12-30 17:30:00,2018-12-30 21:30:00,20.0,extended_accident,440,433,438.0
10457,2018-12-31 05:45:00,2018-12-31 08:15:00,56.0,Meteo,765,700,NaN
10458,2018-12-31 07:00:00,2018-12-31 14:30:00,6.0,Gestione_viabilita,917,905,NaN
10459,2018-12-31 07:45:00,2018-12-31 14:15:00,6.0,Gestione_viabilita,465,453,NaN
10460,2018-12-31 08:15:00,2018-12-31 10:00:00,56.0,Meteo,541,540,NaN
10461,2018-12-31 08:30:00,2018-12-31 11:45:00,1.0,Pavimentazione,541,461,NaN
10462,2018-12-31 08:45:00,2018-12-31 14:15:00,6.0,Gestione_viabilita,499,465,NaN
10463,2018-12-31 09:45:00,2018-12-31 14:15:00,6.0,Gestione_viabilita,497,449,NaN
10464,2018-12-31 09:45:00,2018-12-31 14:15:00,67.0,Meteo,541,499,NaN
10465,2018-12-31 13:15:00,2018-12-31 14:30:00,6.0,Gestione_viabilita,462,430,NaN
10466,2018-12-31 12:45:00,2018-12-31 14:30:00,6.0,Gestione_viabilita,499,461,NaN
10467,2018-12-31 13:00:00,2018-12-31 16:45:00,6.0,Gestione_viabilita,765,700,NaN

## Check if speeds are correct

In [4]:
dataset = data.base_dataset()

caching base dataset train

In [5]:
dataset.head(10)

,KEY,KM,event_index,EMERGENCY_LANE,LANES,ROAD_TYPE,EVENT_DETAIL,EVENT_TYPE,DATETIME_UTC_-4,DATETIME_UTC_-3,DATETIME_UTC_-2,DATETIME_UTC_-1,DATETIME_UTC_y_0,DATETIME_UTC_y_1,DATETIME_UTC_y_2,DATETIME_UTC_y_3,SPEED_AVG_-4,SPEED_AVG_-3,SPEED_AVG_-2,SPEED_AVG_-1,SPEED_AVG_Y_0,SPEED_AVG_Y_1,SPEED_AVG_Y_2,SPEED_AVG_Y_3,SPEED_SD_-4,SPEED_SD_-3,SPEED_SD_-2,SPEED_SD_-1,SPEED_MAX_-4,SPEED_MAX_-3,SPEED_MAX_-2,SPEED_MAX_-1,SPEED_MIN_-4,SPEED_MIN_-3,SPEED_MIN_-2,SPEED_MIN_-1,N_VEHICLES_-4,N_VEHICLES_-3,N_VEHICLES_-2,N_VEHICLES_-1,WEATHER_-4,WEATHER_-3,WEATHER_-2,WEATHER_-1,DISTANCE_-4,DISTANCE_-3,DISTANCE_-2,DISTANCE_-1,TEMPERATURE_-4,TEMPERATURE_-3,TEMPERATURE_-2,TEMPERATURE_-1,MIN_TEMPERATURE_-4,MIN_TEMPERATURE_-3,MIN_TEMPERATURE_-2,MIN_TEMPERATURE_-1,MAX_TEMPERATURE_-4,MAX_TEMPERATURE_-3,MAX_TEMPERATURE_-2,MAX_TEMPERATURE_-1
0,0.0,333.0,16789.0,1,2,1,11,Veicolo_in_avaria,2018-09-05 17:15:00,2018-09-05 17:30:00,2018-09-05 17:45:00,2018-09-05 18:00:00,2018-09-05 18:15:00,2018-09-05 18:30:00,2018-09-05 18:45:00,2018-09-05 19:00:00,218.1596,215.1602,221.5288,216.8376,212.2848,213.7758,222.5046,216.1972,36.5713,34.3015,38.7876,38.2393,432.006,449.804,465.984,459.512,64.720,71.192,69.574,79.282,736.0,767.0,731.0,695.0,Quasi Sereno,Quasi Sereno,Quasi Sereno,Quasi Sereno,33.0,33.0,33.0,33.0,29.0,29.0,29.0,29.0,21.0,21.0,21.0,21.0,29.0,29.0,29.0,29.0
1,0.0,333.0,17038.0,1,2,1,4,Ostacolo_in_carreggiata,2018-09-15 10:15:00,2018-09-15 10:30:00,2018-09-15 10:45:00,2018-09-15 11:00:00,2018-09-15 11:15:00,2018-09-15 11:30:00,2018-09-15 11:45:00,2018-09-15 12:00:00,223.7823,220.6725,217.7750,224.6205,223.4790,227.4011,224.2504,228.7991,34.9964,32.4112,33.5583,33.8886,467.602,389.938,404.500,394.792,61.484,74.428,61.484,74.428,539.0,557.0,583.0,546.0,Quasi Sereno,Quasi Sereno,Quasi Sereno,Quasi Sereno,221.0,221.0,221.0,221.0,26.0,26.0,26.0,26.0,19.0,19.0,19.0,19.0,24.0,24.0,24.0,24.0
2,0.0,333.0,17088.0,1,2,1,4,Ostacolo_in_carreggiata,2018-09-17 15:15:00,2018-09-17 15:30:00,2018-09-17 15:45:00,2018-09-17 16:00:00,2018-09-17 16:15:00,2018-09-17 16:30:00,2018-09-17 16:45:00,2018-09-17 17:00:00,226.0311,220.6224,221.8755,222.3986,221.7808,225.0752,224.7348,219.9737,37.8230,35.9977,41.7747,34.4392,464.366,417.444,457.894,430.388,63.102,64.720,61.484,64.720,609.0,569.0,610.0,614.0,Quasi Sereno,Quasi Sereno,Quasi Sereno,Quasi Sereno,33.0,33.0,33.0,33.0,27.0,27.0,27.0,27.0,21.0,21.0,21.0,21.0,27.0,27.0,27.0,27.0
3,0.0,333.0,17144.0,1,2,1,18,Veicolo_in_avaria,2018-09-19 07:30:00,2018-09-19 07:45:00,2018-09-19 08:00:00,2018-09-19 08:15:00,2018-09-19 08:30:00,2018-09-19 08:45:00,2018-09-19 09:00:00,2018-09-19 09:15:00,224.5611,226.4205,223.1798,224.3371,223.9283,218.6939,220.7767,224.3234,41.8797,36.9565,36.9518,35.4471,469.220,465.984,440.096,462.748,67.956,74.428,66.338,61.484,655.0,618.0,590.0,633.0,Quasi Sereno,Quasi Sereno,Quasi Sereno,Quasi Sereno,33.0,33.0,33.0,33.0,24.0,24.0,24.0,24.0,24.0,24.0,24.0,24.0,26.0,26.0,26.0,26.0
4,0.0,333.0,17370.0,1,2,1,4,Ostacolo_in_carreggiata,2018-09-27 15:00:00,2018-09-27 15:15:00,2018-09-27 15:30:00,2018-09-27 15:45:00,2018-09-27 16:00:00,2018-09-27 16:15:00,2018-09-27 16:30:00,2018-09-27 16:45:00,241.0884,239.9227,230.4686,236.7613,235.4108,234.6779,233.1017,230.3678,20.3806,21.8812,19.9869,20.8277,328.454,321.982,286.386,325.218,190.924,192.542,186.070,184.452,253.0,261.0,302.0,270.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0.0,333.0,17644.0,1,2,1,4,Ostacolo_in_carreggiata,2018-10-08 17:45:00,2018-10-08 18:00:00,2018-10-08 18:15:00,2018-10-08 18:30:00,2018-10-08 18:45:00,2018-10-08 19:00:00,2018-10-08 19:15:00,2018-10-08 19:30:00,231.0138,237.6196,238.0555,234.3823,234.6660,225.2852,237.4857,225.6115,20.5212,22.1078,21.4170,20.3625,315.510,364.050,326.836,328.454,176.362,190.924,197.396,189.306,292.0,293.0,278.0,270.0,Quasi Sereno,Quasi Sereno,Quasi Sereno,Quasi Sereno,33.0,33.0,33.0,33.0,23.0,23.0,22.0,22.0,17.0,17.0,17.0,17.0,24.0,24.0,24.0,24.0
6,0.0,333.0,17792.0,1,2,1,19,Ostacolo_in_carreggiata,2018-10-14 08:30:00,2018-10-14 08:45:00,2018-10-14 09:00:00,2018-10-14 09:15:00,2018-10-14 09:30:00,2018-10-14 09:45:00,2018-10-14 10:00:00,2018-10-14 10:15:00,265.1031,248.0189,244.8496,241.8558,241.5250,238.6597,235.9232,231.9182,34.2022,27.3338,21.6004,25.0534,346.252,310.656,309.038,331.690,200.632,184.452,203.868,194.160,52.0,87.0,70.0,115.0,Quasi Sereno,Quasi Sereno,Quasi Sereno,Debole Pioggia,85.0,85.0,85.0,215.0,17.0,17.0,17.0,21.0,16.0,16.0,16.0,20.0,18.0,18.0,18.0,21.0
7,0.0,333.0,17864.0,1,2,1,18,Veicolo_in_avaria,2018-10-16 16:15:00,2018-10-16 16:30:00,2018-10-16 16:45:00,2018-10-16 17:00:00,2018-10-16 17:15:00,2018-10-16 17:30:00,2018-10-16 17:45:00,2018-10-16 18:00:00,232.9659,229.6361,236.0388,216.9377,212.9814,206.0184,206.6432,218.3562,22.6436,19.3438,23.8823,26.6331,341.398,278.296,309.038,279.914,184.452,192.542,150.474,132.676,248.0,189.0,248.0,309.0,Quasi Sereno,Quasi Sereno,Quasi Sereno,Quasi Sereno,221.0,221.0,221.0,221.0,23.0,23.0,23.0,23.0,16.0,16.0,16.0,16.0,25.0,25.0,25.0,25.0
8,0.0,333.0,18012.0,1,2,1,18,Veicolo_in_avaria,2018-10-20 16:15:00,2018-10-20 16:30:00,2018-10-20 16:45:00,2018-10-20 17:00:00,2018-10-20 17:15:00,2018-10-20 17:30:00,2018-10-20 17:45:00,2018-10-20 18:00:00,240.9540,240.8911,243.5908,238.8584,239.3042,234.4441,240.1863,239.8972,24.1468,22.3140,21.6703,21.2171,402.882,307.420,296.094,321.982,187.688,186.070,195.778,199.014,177.0,178.0,178.0,179.0,Quasi Sereno,Quasi Sereno,Quasi Sereno,Quasi Sereno,221.0,221.0,221.0,221.0,24.0,24.0,24.0,24.0,17.0,17.0,17.0,17.0,24.0,24.0,24.0,24.0
9,0.0,333.0,18082.0,1,2,1,20,extended_accident,2018-10-24 12:15:00,2018-10-24 12:30:00,2018-10-24 12:45:00,2018-10-24 13:00:00,2018-10-24 13:15:00,2018-10-24 13:30:00,2018-10-24 13:45:00,2018-10-24 14:00:00,233.6132,240.7317,237.8721,243.7223,237.5326,246.0640,239.5287,185.9140,29.2011,22.6439,21.9769,21.8133,291.240,328.454,326.836,305.802,152.092,189.306,195.778,202.250,224.0,194.0,186.0,239.0,Quasi Sereno,Quasi Sereno,Quasi Sereno,Quasi Sereno,221.0,221.0,221.0,221.0,23.0,23.0,23.0,23.0,14.0,14.0,14.0,14.0,23.0,23.0,23.0,23.0

In [20]:
speeds = data.speeds_original()

caching resources/dataset/originals/speeds_train.csv.gz

In [7]:
def check_speed(df, key, km, datetime):
    return df[(df.KEY == key) & (df.KM == km) & (df.DATETIME_UTC == datetime)]

In [9]:
check_speed(speeds, key=0, km=333, datetime='2018-10-24 12:30:00')

,KEY,DATETIME_UTC,KM,SPEED_AVG,SPEED_SD,SPEED_MIN,SPEED_MAX,N_VEHICLES,KEY_2
5959614,0,2018-10-24 12:30:00,333,240.731711,22.643887,189.306,328.454,194,0_333

In [10]:
ev = data.events_original()

caching resources/dataset/originals/events_train.csv.gz

In [12]:
ev[ev.index == 18082.0]

,START_DATETIME_UTC,END_DATETIME_UTC,EVENT_DETAIL,EVENT_TYPE,KM_END,KM_START,KEY,KEY_2
18082,2018-10-24 13:13:03,2018-10-24 15:28:47,20.0,extended_accident,336,336,0.0,0_336

## Check discarded events

In [14]:
events_in_dataset = dataset.event_index.unique()
len(events_in_dataset)

5528

In [7]:
events_in_dataset

array([16789., 17038., 17088., ..., 30801., 30802., 30837.])

In [15]:
ev = data.events_original()
ev.head()

,START_DATETIME_UTC,END_DATETIME_UTC,EVENT_DETAIL,EVENT_TYPE,KM_END,KM_START,KEY,KEY_2
0,2018-07-19 07:34:46,2018-08-01 15:23:17,0.0,Gestione_viabilita,959,954,523.0,523_959
1,2018-07-25 12:20:06,2018-10-12 18:29:37,1.0,Pavimentazione,1814,1821,325.0,325_1814
2,2018-08-01 07:44:00,2018-08-01 16:18:58,2.0,Manutenzione_opere_in_verde,321,282,525.0,525_321
3,2018-08-01 08:14:30,2018-08-01 17:39:13,3.0,Opera_arte,713,712,517.0,517_713
4,2018-08-01 08:18:32,2018-08-01 17:38:27,3.0,Opera_arte,2542,2543,518.0,518_2542

In [17]:
discarded_ev = list(set(ev.index).difference(set(events_in_dataset)))
len(discarded_ev)

32480

In [19]:
ev.loc[[discarded_ev[0]]]

,START_DATETIME_UTC,END_DATETIME_UTC,EVENT_DETAIL,EVENT_TYPE,KM_END,KM_START,KEY,KEY_2
0,2018-07-19 07:34:46,2018-08-01 15:23:17,0.0,Gestione_viabilita,959,954,523.0,523_959

In [23]:
def check_involved_sensors_by_event(event_id, speeds_df):
    e = data.events_original().loc[event_id]
    return speeds_df[(speeds_df.KEY == e.KEY) & (speeds_df.KM >= e.KM_START) & (speeds_df.KM <= e.KM_END)]

In [29]:
for eid in discarded_ev:
    res = check_involved_sensors_by_event(eid, data.speeds_original())
    if res.shape[0] != 0:
        print(eid)
        break

2

In [30]:
ev.loc[[discarded_ev[2]]]

,START_DATETIME_UTC,END_DATETIME_UTC,EVENT_DETAIL,EVENT_TYPE,KM_END,KM_START,KEY,KEY_2
2,2018-08-01 07:44:00,2018-08-01 16:18:58,2.0,Manutenzione_opere_in_verde,321,282,525.0,525_321

In [31]:
check_involved_sensors_by_event(2, data.speeds_original())

,KEY,DATETIME_UTC,KM,SPEED_AVG,SPEED_SD,SPEED_MIN,SPEED_MAX,N_VEHICLES,KEY_2
477869,525,2018-09-01 06:15:00,305,238.032692,44.568372,59.866,279.914,26,525_305
477870,525,2018-09-01 09:00:00,305,233.610112,35.280787,74.428,378.612,89,525_305
477871,525,2018-09-01 20:45:00,305,222.673434,27.156433,174.744,299.330,53,525_305
477872,525,2018-09-01 21:15:00,305,212.814588,50.253969,77.664,313.892,34,525_305
477873,525,2018-09-01 23:45:00,305,200.632000,65.173474,90.608,249.172,5,525_305
477874,525,2018-09-02 07:45:00,305,252.408000,29.803460,215.194,321.982,18,525_305
477875,525,2018-09-02 14:45:00,305,171.921907,27.056109,74.428,228.138,43,525_305
477876,525,2018-09-02 17:45:00,305,232.543770,20.663552,165.036,292.858,148,525_305
477877,525,2018-09-02 23:30:00,305,261.660937,30.060699,215.194,338.162,32,525_305
477878,525,2018-09-03 06:00:00,305,245.494727,29.925545,189.306,330.072,33,525_305
477879,525,2018-09-03 11:15:00,305,250.455241,34.766332,74.428,326.836,87,525_305
477880,525,2018-09-03 12:00:00,305,256.371473,29.680462,59.866,349.488,129,525_305
477881,525,2018-09-03 14:00:00,305,257.425618,24.967300,192.542,320.364,89,525_305
477882,525,2018-09-03 18:45:00,305,242.956183,31.361557,61.484,310.656,120,525_305
477883,525,2018-09-03 20:30:00,305,245.844415,32.719586,74.428,297.712,53,525_305
477884,525,2018-09-04 08:15:00,305,246.891512,33.138671,59.866,351.106,127,525_305
477885,525,2018-09-04 10:00:00,305,231.268478,36.978482,74.428,321.982,92,525_305
477886,525,2018-09-04 10:30:00,305,254.292253,26.869533,176.362,318.746,79,525_305
477887,525,2018-09-04 18:45:00,305,242.586234,32.058683,66.338,344.634,128,525_305
477888,525,2018-09-04 23:00:00,305,257.262000,24.919301,220.048,334.926,31,525_305
477889,525,2018-09-05 01:00:00,305,262.925000,23.576949,247.554,297.712,4,525_305
477890,525,2018-09-05 01:30:00,305,280.943636,39.209537,221.666,339.780,11,525_305
477891,525,2018-09-05 02:45:00,305,249.576500,43.241788,186.070,279.914,4,525_305
477892,525,2018-09-05 05:45:00,305,263.216240,37.010372,182.834,344.634,25,525_305
477893,525,2018-09-05 07:30:00,305,249.478108,23.679868,205.486,315.510,111,525_305
477894,525,2018-09-05 10:30:00,305,236.885313,33.517524,74.428,297.712,96,525_305
477895,525,2018-09-05 11:45:00,305,251.900023,27.497894,200.632,328.454,86,525_305
477896,525,2018-09-05 15:45:00,305,211.958000,40.764543,59.866,297.712,96,525_305
477897,525,2018-09-05 21:00:00,305,254.851510,54.616111,74.428,357.578,49,525_305
477898,525,2018-09-06 00:00:00,305,239.232857,52.570569,74.428,299.330,14,525_305
...,...,...,...,...,...,...,...,...,...
10768068,525,2018-09-25 06:15:00,305,232.632444,57.077075,74.428,328.454,18,525_305
10768069,525,2018-09-25 13:30:00,305,246.655111,49.166436,74.428,414.208,63,525_305
10768070,525,2018-09-25 15:45:00,305,236.671024,36.713840,59.866,313.892,84,525_305
10768071,525,2018-09-25 19:45:00,305,244.625215,33.013134,197.396,349.488,79,525_305
10768072,525,2018-09-25 20:45:00,305,258.254864,25.260031,211.958,304.184,44,525_305
10768073,525,2018-09-26 02:45:00,305,205.486000,32.034766,182.834,228.138,2,525_305
10768074,525,2018-09-26 18:00:00,305,228.218900,30.823008,74.428,313.892,120,525_305
10768075,525,2018-09-26 18:30:00,305,226.897202,37.277593,63.102,357.578,163,525_305
10768076,525,2018-09-26 19:15:00,305,237.686652,34.074531,74.428,312.274,132,525_305
10768077,525,2018-09-27 01:00:00,305,253.794857,27.065108,224.902,302.566,7,525_305
10768078,525,2018-09-27 09:45:00,305,250.666891,23.754510,194.160,338.162,92,525_305
10768079,525,2018-09-27 10:30:00,305,257.926536,28.847755,197.396,349.488,56,525_305
10768080,525,2018-09-27 12:00:00,305,253.084618,32.778407,74.428,318.746,110,525_305
10768081,525,2018-09-27 15:15:00,305,234.641725,31.367558,134.294,349.488,102,525_305
10768082,525,2018-09-27 21:30:00,305,248.305214,31.002621,182.834,313.892,28,525_305
10768083,525,2018-09-28 04:00:00,305,256.048500,52.981780,200.632,317.128,4,525_305
10768084,525,2018-09-28 15:00:00,305,225.938531,37.574646,61.484,334.926,128,525_305
10768085,525,2018-09-28 16:30:00,305,213.022090,28.594144,110.024,273.442,111,525_305
10768086,525,2018-09-28 17:45:00,305,249.390649,32.903383,74.428,347.870,148,525_305
10768087,525,2018-09-28 21:15:00,305,250.232984,42.000410,74.428,338.162,61,525_305
10768088,525,2018-09-29 12:00:00,305,216.574693,34.418371,74.428,355.960,75,525_305
10768089,525,2018-09-29 15:15:00,305,245.756222,40.909185,64.720,299.330,54,525_305
10768090,525,2018-09-29 20:15:00,305,243.942393,36.011644,74.428,383.466,112,525_305
10768091,525,2018-09-29 22:15:00,305,253.055200,29.466559,195.778,307.420,25,525_305
10768092,525,2018-09-30 05:00:00,305,200.632000,33.978000,161.800,224.902,3,525_305
10768093,525,2018-09-30 11:15:00,305,242.956512,32.917964,66.338,359.196,82,525_305
10768094,525,2018-09-30 23:15:00,305,261.369231,34.769252,207.104,389.938,26,525_305
10768095,525,2018-10-01 07:15:00,305,244.709452,25.764688,74.428,328.454,124,525_305
10768096,525,2018-10-01 11:15:00,305,241.247477,33.831150,74.428,328.454,88,525_305
10768097,525,2018-10-01 13:15:00,305,254.866519,34.013069,66.338,326.836,77,525_305