In [1]:
import os
import sys
sys.path.append(os.chdir('../../'))

In [2]:
import pandas as pd
from tqdm.auto import tqdm
import numpy as np
import datetime

import matplotlib.pyplot as plt
import plotly.plotly as ply
import plotly.graph_objs as go
import src.utils.graph as graph
from plotly.offline import init_notebook_mode, iplot
init_notebook_mode(connected=True)

tqdm.pandas()
pd.options.display.max_columns = None
pd.options.display.max_colwidth = -1

In [3]:
import src.data as data
import src.utility as utility

In [4]:
e = data.events('test')

caching resources/dataset/preprocessed/events_test.csv.gz

In [5]:
speeds_test = data.speeds_original('test')
speeds_test.shape

caching resources/dataset/originals/speeds_test.csv.gz

(3488814, 9)

In [6]:
joined_df = utility.merge_speed_events(speeds_test, e)

In [7]:
speeds_target = utility.time_windows_event(joined_df, steps_behind=0, steps_after=3)

Total events found: 7319

HBox(children=(IntProgress(value=0, max=7319), HTML(value='')))

Filter size: 29276

In [9]:
speeds_target.head()

,KEY,DATETIME_UTC,KM,SPEED_AVG,SPEED_SD,SPEED_MIN,SPEED_MAX,N_VEHICLES,KEY_2,START_DATETIME_UTC,END_DATETIME_UTC,EVENT_DETAIL,EVENT_TYPE,KM_END,KM_START,KM_EVENT,step_duration,event_index,sample_id
0,0.0,2018-12-21 17:30:00,337.0,200.463977,31.465900,59.866,276.678,260.0,0_337,2018-12-21 16:00:00,2018-12-21 17:30:00,6.0,Gestione_viabilita,337.0,336.0,NaN,7.0,752.0,0
27383,NaN,2018-12-21 17:45:00,NaN,NaN,NaN,NaN,NaN,NaN,0_337,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,752.0,0
27386,NaN,2018-12-21 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,0_337,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,752.0,0
27388,NaN,2018-12-21 18:15:00,NaN,NaN,NaN,NaN,NaN,NaN,0_337,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,752.0,0
1394,0.0,2018-12-07 12:15:00,337.0,218.191853,35.729569,59.866,347.870,231.0,0_337,2018-12-07 11:00:00,2018-12-07 13:00:00,4.0,Ostacolo_in_carreggiata,339.0,332.0,337.0,9.0,174949.0,1

In [10]:
speeds_target.shape

(29276, 19)

In [11]:
speeds_target.dropna(subset=['KEY'], inplace=True)
speeds_target.shape

(27383, 19)

In [24]:
speeds_target['dummy'] = 1
filter_target = speeds_target[['KEY','DATETIME_UTC','KM','dummy']].drop_duplicates()
filter_target.head()

       KEY        DATETIME_UTC     KM  dummy
0      0.0 2018-12-21 17:30:00  337.0  1
1394   0.0 2018-12-07 12:15:00  337.0  1
1398   0.0 2018-12-07 12:30:00  337.0  1
24702  0.0 2018-12-07 12:45:00  337.0  1
21977  0.0 2018-12-07 13:00:00  337.0  1

In [25]:
filter_target.shape

(6882, 4)

In [27]:
filtered = speeds_test.merge(filter_target, how='left')

In [28]:
filtered.shape

(3488814, 10)

In [30]:
filtered[filtered.dummy.isnull()]

,KEY,DATETIME_UTC,KM,SPEED_AVG,SPEED_SD,SPEED_MIN,SPEED_MAX,N_VEHICLES,KEY_2,dummy
0,0,2018-12-01 05:45:00,443,149.462750,11.339183,137.530,186.070,24,0_443,NaN
1,0,2018-12-01 14:30:00,443,183.164204,18.459800,140.766,223.284,49,0_443,NaN
2,0,2018-12-02 01:30:00,443,172.317000,14.873284,161.800,182.834,2,0_443,NaN
3,0,2018-12-02 08:00:00,443,181.913414,21.211454,139.148,224.902,58,0_443,NaN
4,0,2018-12-03 06:00:00,443,155.443571,19.456223,121.350,218.430,84,0_443,NaN
5,0,2018-12-03 07:00:00,443,169.471552,18.937749,124.586,211.958,116,0_443,NaN
6,0,2018-12-03 10:30:00,443,158.421616,20.744966,69.574,221.666,125,0_443,NaN
7,0,2018-12-03 11:30:00,443,171.076533,18.364618,118.114,218.430,90,0_443,NaN
8,0,2018-12-03 12:30:00,443,161.207267,23.720920,85.754,213.576,101,0_443,NaN
9,0,2018-12-03 20:15:00,443,177.391636,17.565820,152.092,215.194,33,0_443,NaN
10,0,2018-12-03 23:45:00,443,164.538154,12.060788,148.856,189.306,13,0_443,NaN
11,0,2018-12-04 02:15:00,443,173.732750,27.320973,137.530,211.958,8,0_443,NaN
12,0,2018-12-04 06:45:00,443,152.042970,18.225808,119.732,202.250,99,0_443,NaN
13,0,2018-12-04 09:30:00,443,178.499541,17.838650,64.720,218.430,109,0_443,NaN
14,0,2018-12-04 17:30:00,443,160.953196,18.443146,126.204,205.486,107,0_443,NaN
15,0,2018-12-04 19:15:00,443,164.166627,19.435048,122.968,218.430,67,0_443,NaN
16,0,2018-12-05 02:15:00,443,178.991250,16.746495,160.182,205.486,8,0_443,NaN
17,0,2018-12-05 06:30:00,443,154.948781,12.297821,129.440,197.396,64,0_443,NaN
18,0,2018-12-05 07:45:00,443,148.979511,21.020227,119.732,213.576,131,0_443,NaN
19,0,2018-12-05 20:15:00,443,165.931064,14.755378,144.002,205.486,47,0_443,NaN
20,0,2018-12-06 00:00:00,443,183.157600,13.872509,168.272,216.812,10,0_443,NaN
21,0,2018-12-06 06:30:00,443,168.155036,19.942895,131.058,226.520,83,0_443,NaN
22,0,2018-12-06 12:45:00,443,169.585435,22.441194,134.294,232.992,85,0_443,NaN
23,0,2018-12-06 19:45:00,443,167.463000,20.990809,131.058,210.340,76,0_443,NaN
24,0,2018-12-07 05:15:00,443,164.888909,35.332041,127.822,266.970,22,0_443,NaN
25,0,2018-12-07 14:45:00,443,178.472984,16.826463,140.766,218.430,128,0_443,NaN
26,0,2018-12-08 11:45:00,443,162.396105,17.033941,124.586,205.486,171,0_443,NaN
27,0,2018-12-08 15:45:00,443,176.955267,16.696162,140.766,220.048,90,0_443,NaN
28,0,2018-12-09 00:00:00,443,188.982400,36.259088,142.384,241.082,5,0_443,NaN
29,0,2018-12-09 04:30:00,443,178.862545,15.809502,156.946,205.486,11,0_443,NaN
...,...,...,...,...,...,...,...,...,...,...
3488784,579,2018-12-26 19:30:00,1436,165.036000,16.695916,131.058,199.014,72,579_1436,NaN
3488785,579,2018-12-27 05:00:00,1436,179.800250,15.311579,161.800,200.632,8,579_1436,NaN
3488786,579,2018-12-27 10:00:00,1436,155.819872,16.830090,106.788,194.160,125,579_1436,NaN
3488787,579,2018-12-27 11:45:00,1436,161.628992,19.901533,106.788,211.958,123,579_1436,NaN
3488788,579,2018-12-27 15:00:00,1436,164.789186,15.210034,111.642,207.104,118,579_1436,NaN
3488789,579,2018-12-27 16:00:00,1436,154.793828,14.588001,101.934,186.070,209,579_1436,NaN
3488790,579,2018-12-28 00:45:00,1436,187.795867,20.185359,155.328,231.374,15,579_1436,NaN
3488791,579,2018-12-28 01:30:00,1436,187.121700,26.737741,155.328,255.644,20,579_1436,NaN
3488792,579,2018-12-28 04:00:00,1436,194.699333,38.606624,163.418,237.846,3,579_1436,NaN
3488793,579,2018-12-28 06:45:00,1436,165.675674,32.017521,105.170,250.790,43,579_1436,NaN
3488794,579,2018-12-28 15:15:00,1436,156.993126,18.275497,108.406,205.486,206,579_1436,NaN
3488795,579,2018-12-28 23:00:00,1436,172.486326,18.991250,142.384,224.902,43,579_1436,NaN
3488796,579,2018-12-28 23:30:00,1436,178.972864,16.801042,129.440,208.722,44,579_1436,NaN
3488797,579,2018-12-29 01:00:00,1436,191.270714,37.941265,145.620,289.622,28,579_1436,NaN
3488798,579,2018-12-29 07:30:00,1436,176.587767,17.953452,142.384,213.576,43,579_1436,NaN
3488799,579,2018-12-29 12:30:00,1436,172.368954,18.224052,111.642,221.666,109,579_1436,NaN
3488800,579,2018-12-30 02:30:00,1436,181.485667,16.513643,163.418,208.722,6,579_1436,NaN
3488801,579,2018-12-30 07:30:00,1436,188.936171,21.426009,158.564,257.262,35,579_1436,NaN
3488802,579,2018-12-30 14:15:00,1436,176.485276,24.378346,118.114,265.352,105,579_1436,NaN
3488803,579,2018-12-30 17:45:00,1436,137.431939,11.277549,113.260,163.418,165,579_1436,NaN
3488804,579,2018-12-30 21:15:00,1436,174.204667,16.829098,145.620,229.756,48,579_1436,NaN
3488805,579,2018-12-31 17:45:00,1436,156.717192,20.266906,111.642,213.576,99,579_1436,NaN
3488806,579,2019-01-01 02:15:00,1436,170.175529,16.632370,139.148,224.902,68,579_1436,NaN
3488807,579,2019-01-01 02:45:00,1436,173.040842,21.850521,140.766,228.138,38,579_1436,NaN
3488808,579,2019-01-01 05:15:00,1436,180.480545,28.601221,145.620,245.936,11,579_1436,NaN
3488809,579,2019-01-01 05:30:00,1436,187.364400,16.938845,161.800,234.610,15,579_1436,NaN
3488810,579,2019-01-01 06:15:00,1436,192.218400,31.731873,155.328,245.936,10,579_1436,NaN
3488811,579,2019-01-01 09:45:00,1436,176.191684,15.663573,147.238,216.812,38,579_1436,NaN
3488812,579,2019-01-01 10:30:00,1436,173.281577,18.367894,132.676,237.846,52,579_1436,NaN
3488813,579,2019-01-01 17:15:00,1436,170.505296,21.599571,135.912,275.060,71,579_1436,NaN